[2011-06-29 21:00] boyska opened #1 "tomb almost full"
Tomb should complain when it mounts a tomb which is almost full

[2011-06-29 21:31] boyska opened #2 "tomb resize"
tomb should make it easy to resize (increment, especially) a tomb; it should ask the user if he want to do this if opening an "almost-full" tomb (see #1)

[2011-06-29 22:42] boyska opened #3 "key overwrite on usb"
Suppose you create a tomb named 'foo', and put the key on a USB key.
Then you create _another_ tomb named 'foo' (again) and put it on the same USB key.
Result: you have trashed the first key!

[2011-07-05 22:28] boyska opened #4 "warning if user has swap activated"
Swap can be dangerous, because crypted files can be swapped out unencrypted.
We should warn the user, suggesting to
1. swapoff, or
2. setup encrypted swap

[2011-07-10 18:07] nignux opened #5 "key from ssh remote server"
maybe a new feature or a simple tomb source script to pick up the key when you open a tomb from a remote server via ssh connection.

[2011-07-10 20:35] boyska opened #6 "Permission issue when mounting on a computer with different UIDs"
This is because of permission on ext3. Re-mapping dinamically everything seems to be difficult AND unpractical; there is no mounting option to force everything to be owned by user X.

Simplest solution could be just using a user-less filestystem, like... **FAT32**

[2011-07-19 22:32] nignux opened #7 "tomb's mountpoint persistence"
is not nice that the tomb's mountpoint persist on /media/...

[2011-07-20 21:28] davinerd opened #8 "options order and bug"
the correct tomb invocation is: tomb [command] [options] [file] [place]

Also, the -k option do not accept argument, then the only way to use tomb is that the tomb file and key must be on the same directory and do not use the -k flag.

[2011-07-23 10:34] jaromil opened #9 "tomb r/w lock"
Use a lock file indicating the tomb is already mounted read-write
Default behaviour can be to mount read-only

This will let collective non-concurrent use of tombs on remote services (sshfs, clouds...)
still making sure only one user at a time is editing the Tomb.

nifty feature: inotify when lock is released and trigger mount -o remount,rw ....

[2011-07-24 22:21] boyska opened #10 "option "-s" doesn't check if argument is integer"
that is, `tomb -s asd create tombname` will go on without complaining, but the tomb will be empty (because dd can't write "asd" blocks)

This also reveals that errors are not handled correctly

[2011-07-26 22:39] nignux opened #11 "command line: steganografy support in 'open' subcommand"
the use of steganography must be easier when opening the tomb.
something like:

<code>
tomb open tomba.tomb -k /path/to/file.jpeg --use-steganography
</code>

[2011-07-27 09:54] nignux opened #12 "name key creating a tomb"
will be confortable to choose the name and the location of the key creating the tomb

something like:

<code>
tomb create tomba -k /media/usb/name.tomb.key -s30
</code>

[2011-07-27 09:59] nignux opened #13 "create tomb steganographyng the key directly"
want to create the tomb steganographyng contextually the key

something like:

<code>
tomb create --steganography -k /path/to/file.jpeg tomba -s 10
</code>

[2011-07-27 10:34] nignux opened #14 "escaping problem in optparsing branch"
the escaping need a more efficent implementation

were founded the problem:

$ tomb open -k 'copia\ di\ tomba.tomb.key' tomba.tomb
[*] Commanded to open tomb di\
[!] file not found: di\
[!] operation aborted.

[2011-08-01 23:36] #3 closed, assigned to davinerd

[2011-08-03 21:13] davinerd opened #19 "notify-send"
Would be nice to add notify-send support: if notify-send is installed, tomb can automatically (or by flag) turn on notify over notify-send

[2011-08-03 21:24] davinerd opened #20 "slam tomb with no pid"
When trying to slam a tomb, tomb tries to kill all processes that keep the tomb open, but no check is performed to ensure that at least one pid is found.

anathema@nrv:~/tomb_dev/Tomb/src$ ./tomb slam
[_] Slamming tomb mytomb mounted on /media/mytomb.tomb
 .  Kill all processes busy inside the tomb
umount_tomb:kill:84: not enough arguments
[_] Tomb mytomb closed: your bones will rest in peace.
ana

[2011-08-03 21:31] boyska opened #21 ""slam" should try to kill more softly"
`kill -9` can be bad sometimes. It would be better to do a `kill -USR1` first, then wait one second to see if some process survived, and only if necessary `kill -9`

[2011-08-04 06:40] #19 closed, assigned to davinerd

[2011-08-04 06:58] #14 closed, assigned to nobody

[2011-08-04 06:58] #8 closed, assigned to nobody

[2011-08-18 12:11] davinerd opened #23 "delete tomb command from history"
it would be nice to delete the tomb command from shell history

[2011-08-18 16:51] #21 closed, assigned to davinerd

[2011-08-18 16:51] #20 closed, assigned to davinerd

[2011-08-18 21:03] #4 closed, assigned to boyska

[2011-08-18 21:03] #7 closed, assigned to boyska

[2011-08-19 12:12] davinerd opened #25 "code check and restyle"
Check for unused vars and functions, fix some style bugs, clear indentation.

[2011-08-19 12:43] jaromil opened #27 "Fetch keys from different sources"
We don't want to fetch keys just from a plugged usb-storage: also from an ssh shell, or a bluetooth device like a mobile phone.

Initially I've started to implement this inside tomb, but then quickly realized this complicates too much the core code and inserts latencies as well too many configurable aspects beyond its scope.

We can implement these features is an external auxiliary program, someth

[2011-08-19 13:32] #1 closed, assigned to davinerd

[2011-08-20 10:28] davinerd opened #29 "setting permissions on newly created tomb file failed"
when creating a tomb, this commands failed (on create_tomb() ):
chmod 0600 ${tombfile}
chown $(id -u $ME):$(id -g $ME) ${tombfile}

this should be:

chmod 0600 ${tombdir}/${tombfile}
chown $(id -u $ME):$(id -g $ME) ${tombdir}/${tombfile}

[2011-08-20 10:37] #29 closed, assigned to davinerd

[2011-08-20 17:22] jaromil opened #32 "eliminate get_arg_tomb"
[code]

present only in mount_tomb()

doesn't armonizes well with new optarg parsing

obsolete function to be removed

[2011-08-21 16:54] boyska opened #33 "Packaging problems"
There are mime packaging problems, but the patch is ready. This is just to remember ourselves to include it in tomb1.1

[2011-08-22 14:42] boyska opened #34 "Close tombs on hibernation / suspend"
Hibernating while a tomb is open is bad: it means that your key is written to disk.
We should _close_ every tomb before hibernating.
This can be done using /etc/pm/sleep.d/99-tomb script which does this.

Also, if closing fails (because of pid locking it) we should choose between slamming and preventing hibernation.
Slamming is easier, but could be unintuitive for the user to "hibernate" and not f

[2011-08-26 22:50] boyska opened #36 "sudo/pinentry bug for password with spaces"
They just seems not to work. Part of the problem is the awk expression

[code]

[2011-08-28 17:51] #33 closed, assigned to boyska

[2011-08-28 18:48] #10 closed, assigned to boyska

[2011-08-29 18:31] nignux opened #38 "automagic and temporary encrypted swap"
The Ultimate solution of the swap issue!

Create a temporary encrypted swap file on tomb opening.

[2011-08-29 19:31] nignux opened #39 "easter egg in next release"
For example an Ascii art image of boyska in a penis bouquet :D

[2011-08-29 19:40] #12 closed, assigned to nobody

[2011-08-29 21:44] davinerd opened #40 "decode_key() key overwrite"
when decoding tomb key from image file, decode_key() overwrite an existing file:

 steghide extract -sf ${imagefile} -p ${tombpass} -xf - \
        | awk '
BEGIN {
print "-----BEGIN PGP MESSAGE-----"
}
{ print $0 }
END {
print "-----END PGP MESSAGE-----"
}' > ${keyfile}

no check is made to ensure ${keyfile} already exist.

[2011-08-29 22:40] #36 closed, assigned to boyska

[2011-08-30 10:11] nignux opened #42 "Embedding the key pinentry say: "Open tomb: <keyname>.tomb.key" to set password"
In this way is confusing.
Must be something like: "Insert tomb steganography password"

[2011-08-30 21:40] jaromil opened #44 "swap presence should stop blocking operations"
it is way too extreme to stop operations for the presence of swap; this behavior wasn't even discussed.

OTOH the swap vulnerability counts.

tomb runs as root so it could check for presence of a swap and execute swapoff/on -a

until this is implemented we cannot block the operation, but in case print out a warning.

[2011-08-31 14:32] #44 closed, assigned to jaromil

[2011-08-31 14:36] #39 closed, assigned to nobody

[2011-08-31 14:38] #38 closed, assigned to nobody

[2011-08-31 17:52] boyska opened #45 "option to choose tomb filesystem"
Sometimes fat32 can be better than ext3 (especially for moving the tomb on another computer). Sometimes it's the opposite (fat32 has a lot of limitations).

We should add an option `--filesystem=FSNAME` to the create subcommand, to let the user choose it.

EDIT: still requested XFS and FAT32

[2011-09-15 17:28] boyska opened #46 "change key password"
changing the password is sometimes needed, because the previous one could have been revealed some way.
This will also allow to have different key copies with different passwords.

[2011-09-16 22:25] boyska opened #47 "gpg password: problems with dash"
Try it using passowrd `-fasd`. print will understand it as `-f` (that is, format) `=asd` and will print `asd`.
You can now open your tomb using `asd` as password. This wasn't the expected behaviour, and weaken your password. It's possible that even worse things happen.

[2011-09-25 11:05] #47 closed, assigned to nobody

[2011-09-26 08:01] #40 closed, assigned to nobody

[2011-09-26 08:38] #32 closed, assigned to jaromil

[2011-10-21 11:10] jaromil opened #49 "Exit codes"
When tomb exit with an aborted operation the exit code is still zero

this prevents GUI invoking it from exec( ) to understand the result

this need to be fixed and eventually a list of exit codes with different states can be made
the exit code number-to-string converted could even be a minor command, like "tomb strerror"

[2011-10-25 11:15] nignux opened #51 "mount point remove in any case"
the mount points are removed also if not temporary created
deps in autoconf

[2011-10-25 11:27] nignux opened #52 "fix home search in exec_safe_bind_hooks function"
if the line 6:

local HOME=$(grep $ME /etc/passwd | sed "s/^${ME}:._:._:._:._:([\/a-z]_):._$/\1/" 2>/dev/null)

give a two line output the result is not as expected

[2011-10-25 21:52] davinerd opened #55 "Hooks not ignored when flag -n is set"
When setting the -n flag, which tells tomb to do not execute pre-hooks and post-hooks, the script ignores that and always execute hooks.

[2011-10-25 22:14] #51 closed, assigned to nobody

[2011-10-26 09:58] #52 closed, assigned to davinerd

[2011-10-26 10:03] #55 closed, assigned to nobody

[2011-10-26 10:12] #49 closed, assigned to jaromil

[2011-10-27 17:15] jaromil opened #57 "Tomb resize"
Example here:
https://wiki.archlinux.org/index.php/System_Encryption_with_LUKS#Resizing_the_loopback_filesystem

yet this works only for ext2/3/4 and things get complicated as we start allowing more filesystem typess... however:

Resizing the loopback filesystem

First we should unmount the encrypted container:

 umount /mnt/secret

 cryptsetup luksClose secret

 losetup -d /dev/loop0 # free the l

[2011-10-27 22:13] boyska opened #58 "machine parsable output"
This will make it easy the integration with GUIs (see #60)
The support is almost there, because functions like `notice`, `act` or `error` are quite good at this.

A good enhancement could be `progress`
It should behave like this:
`[%] CREATION Creating the key`
That is: an identifier, a keyword and a message. This is good for the progressbar while creating the key, which could take a long time. Do

[2011-10-28 07:14] boyska opened #59 "--no-color : better for GUIs and old terminal"
Colors are nice, but not every terminal handles them correctly.
For example, the VIM terminal buffer does not :D, nor will it be easy to parse output from tomblib with ansi escapes inside.

[2011-10-28 13:22] boyska opened #60 "GUI"
That's a really big one: writing a simple to use, almost-complete, secure GUI.
almost-complete means support for creating and opening. No esotheric options.
secure means that passwords are handled securely (pinentry)

Related: #59,#58

[2011-10-30 17:27] nignux opened #62 "tomb-open need --ignore-swap"
the option --ignore-swap need to be added to tomb-open options

[2011-10-30 18:01] boyska opened #63 "strange errors when combining sudo and output redirecting"
If you run `tomb create -s 10 /tmp/foo > /dev/null`, everything is fine.
Even if you run `tomb create -s 10 /tmp/foo 2> /dev/null`.
BUT if you run   `tomb create -s 10 /tmp/foo &> /dev/null`, sudo will have errors when called by pinentry.

You can reproduce this bug even in an easier way:
`sudo -S -v &> /dev/null`
Actually, it's not the `/dev/null` part that matters; you can redirect it even to `$

[2011-11-01 07:25] #59 closed, assigned to nobody

[2011-11-03 12:07] jaromil opened #65 "fortify safe_dir"
Make the temporary safe directory creation stronger: check if /dev/shm is already mounted, if not check if tmpfs is present in the kernel, else give a warning and maybe fail operation. The aim is to use tmpfs as it is possible on the system, possibly keeping all temporary unencrypted data in RAM.

[2011-11-03 12:32] #62 closed, assigned to nobody

[2011-11-03 22:08] jaromil opened #67 "Improve handling of LUKS key slots"
This is a potential backdoor especially if Tomb doesn't checks the status of other LUKS specific key slots in a volume: a key can be added in the 2nd or 3rd slot without the user noticing, making the volume accessible with another key.

We need to check that all Luks slots are empty and allow the presence of only one key.

Or in case more keys are present then we need to make the user aware. Howev

[2011-11-05 17:30] #46 closed, assigned to nobody

[2011-11-07 16:12] hellekin opened #68 "Ensure minimum size of tomb matches FS requirements"
Tomb allows for creation of too small tomb that the underlying file system cannot use.

e.g. tomb create -s1 is valid, but won't work. (Ext2 needs at least 4M)

[2011-11-15 12:21] boyska opened #69 "undertaker: scheme "subcommand""
The undertaker is strongly based on the idea of "scheme" (for example, `http` is the scheme for `http://tomb.dyne.org/`

When undertaker is requested a scheme that it doesn't know, it should check for the existance of the executable `undertaker-$scheme`.

This will allow us easier contribution for external software and easier dependency handling for "odd" schemes

[2011-11-15 12:27] boyska opened #70 "undertaker: polling"
For gui interaction, polling is very useful. It is somehow implemented in `tomb-open`, for usb.
I propose implementation in undertaker, for ANY scheme. Just repeat calling the script until it finds a suitable key

This should be an option, `--poll`

[2011-11-15 12:29] boyska opened #71 "undertaker: output path(s)"
usually undertaker will output the key contents.
For GUI interaction, it would be good to just output its location, so that the user can confirm if he likes it or if he wants to choose another one.

This should be an option like '--print-path`

[2011-12-01 21:56] hellekin opened #74 "Debian: missing dependency on pkg-config"
To be merged on the debian branch, cf. @e95cff2

[2011-12-01 22:01] hellekin opened #75 "Debian: new dependency"
Replaced dependency on lsof by one on psmisc, cf @d53c028f6b

[2011-12-03 09:42] jaromil opened #76 "Default app in xdg desktop: nautilus etc."
All mime-types are regularly registered, but testing on ubuntu 11.10 shows that clicking on a Tomb in nautilus doesn't starts the tomb-open program. This used to work before. Is this broken only on latest ubuntu? what has changed?

[2012-01-13 20:44] davinerd opened #77 "slam command don't slam"
slam_tomb() should be revised: it don't slam tomb.
I'm unsure about fuser syntax; also, we don't implement an -f option, but the code above mentions it.

Anyone got this issue? Please check it out.

[2012-01-17 11:29] jaromil opened #78 "Problems since last refactoring"
Further testing of new features is rendering some problems introduced by the last batch of commits by hellekin.

I'll list them here together as they come, since it is about minor issues.

1) -D (debug) doesn't works
2) commandline message colors are a bit of a punch in the eye...

[2012-01-17 14:01] #57 closed, assigned to davinerd

[2012-01-17 16:48] #78 closed, assigned to nobody

[2012-01-17 17:50] jaromil opened #79 "cannot open tomb in debug mode"
When running in debug mode, for some reason pinentry doesn't gets the password right.

No clue why this happens, yet.

[2012-01-18 09:09] #79 closed, assigned to nobody

[2012-01-18 11:52] boyska opened #80 "can't open a tomb on sshfs (ubuntu lucid)"
That's a strange issue.
Here's the scenario. A tomb is on a remote server. The key is on our usb pen.
We mount the remote server filesystem using sshfs. tomb has troubles when opening it.

Some notes:
- `file $tombname` detects it correctly
- deleting the check does not solve the problem: cryptsetup fails
- copying the tomb on local filesystem make it work
- lot of ssh servers tried

This bug does

[2012-01-22 22:36] #2 closed, assigned to davinerd

[2012-01-30 10:24] #63 closed, assigned to nobody

[2012-01-31 13:12] #42 closed, assigned to nobody

[2012-02-05 23:40] #27 closed, assigned to jaromil

[2012-02-05 23:40] #69 closed, assigned to jaromil

[2012-02-15 15:34] boyska opened #81 "deniable encryption (decoy inner tomb)"
Wait: we'll explain what we mean with this.
Sometimes we MUST reveal the password, and the enemy has the keyfile. We've lost.

BUT what if we had two filesystem, one "clean" and the other really secret, with two different passwords? we could reveal the wrong one, asserting that is what we were hiding.

how to do this?

ideas:
1. steganographic filesystem on top of the ext3 inside the tomb. urgh, t

[2012-07-30 09:16] boyska opened #82 "Key Strenghtening"
At the moment we are just using plain gpg symmetrical encryption. We should use something stronger: good examples are [bcrypt](https://en.wikipedia.org/wiki/Bcrypt), [PDBKF2](https://en.wikipedia.org/wiki/PBKDF2) or [scrypt](http://www.tarsnap.com/scrypt).
Tomb should support some of this, and keyfiles should have a "header" for key stretching operation (algorithm, parameters, salt).
## Specificat

[2012-09-01 08:44] boyska opened #83 "module dm_mod not loaded"
Tomb does not ensure that module `dm_mod` is loaded/loadable. This makes cryptsetup crash.

NOTE: this only happened to me on a _vanilla_ debian install, with only tomb on it.

[2012-09-01 13:32] boyska opened #84 "/dev/shm dirty if there are errors"
If tomb has errors, or it is killed during its execution, some stuff reamins in `/dev/shm/tomb.*`

It should not be a security problem, but it's dirty anyway :)

More generally, we should have a "clean" trap to do on exit, whether it is caused by errors or manual killing.

[2012-09-05 10:27] boyska opened #85 "configure should have --without-gtk"
On minimall installation, compiling without gtk would be useful (that is, tomb-status)

[2012-09-11 11:46] ghost opened #86 "Upgrade developer hash algorithm and revoke old signatures"
Hey guys,
Love the work, but I noticed on your site that you used GPG signed MD5 hashes of the software to verify authenticity.

Well: http://www.mscs.dal.ca/~selinger/md5collision/
..md5 hashes are easily collided, and for "critical" applications like encryption software (i.e. Tomb) I'd consider them high-value targets for forgeries.

It's not trivial to create a collision with an existing hash w

[2013-02-16 10:26] #6 closed, assigned to nobody

[2013-02-16 10:50] #80 closed, assigned to nobody

[2013-02-16 10:52] #77 closed, assigned to davinerd

[2013-02-16 10:53] #75 closed, assigned to jaromil

[2013-02-16 15:00] #82 closed, assigned to boyska

[2013-02-16 22:03] #85 closed, assigned to boyska

[2013-02-17 13:01] #9 closed, assigned to jaromil

[2013-04-20 12:28] HalosGhost opened #87 "Make feeback consistent"
[code]

Why are these different time intervals?

Also, it would be very helpful if all references to storage sizes could be standardized as well. In some places, you say MBytes, in others you say Mb. 1MB == 1,000,000 Bytes; 1Mb == 1,000,000 bits. 1MiB == 1024 KB (1KiB == 1024B; 1B == 8b).

Along with this transition to standardize storage units, an option to use binary units instead of metric unit

[2013-04-20 12:31] HalosGhost opened #88 "Allow tomb-open to use non-USB external storage"
For instance, I would like to use an SDcard for my keycard rather than a USB stick. However, the current framework only allows for tomb-open to recognize USB devices. Would it be possible, instead, to allow the user to specify a particular partition of any given device (mounted or unmount, whichever is easier)?

This would allow me to specify `/dev/mmcblk0p1` rather than a USB device, as an exampl

[2013-05-27 18:20] #88 closed, assigned to nobody

[2013-05-27 19:24] #87 closed, assigned to jaromil

[2013-05-27 19:26] #86 closed, assigned to jaromil

[2013-05-27 19:28] #83 closed, assigned to nobody

[2013-05-27 19:30] #71 closed, assigned to jaromil

[2013-05-27 19:36] #68 closed, assigned to nobody

[2013-05-27 19:37] #58 closed, assigned to jaromil

[2013-05-30 08:38] melon3r opened #90 ""tomb index" fails"
erre@ginko:~$ tomb index
tomb (*) Creating and updating search indexes
tomb  .  sndexing [testomb]
updatedb: invalid option -l
Usage: /usr/bin/updatedb [--findoptions='-option1 -option2...']
       [--localpaths='dir1 dir2...'] [--netpaths='dir1 dir2...']
       [--prunepaths='dir1 dir2...'] [--prunefs='fs1 fs2...']
       [--output=dbfile] [--netuser=user] [--localuser=user]
       [--old-format]

[2013-05-31 13:49] #90 closed, assigned to nobody

[2013-06-01 14:59] boyska opened #94 "kdf makefile broken"
dropping autoconf, kdf make is broke. Such a critical feature should not be broken, for no reason.

[2013-06-01 14:59] boyska opened #95 "test suite is broken"
The paths are all wrong

[2013-06-01 15:02] boyska opened #96 "create with paths is broken AND insecure"
when you `tomb create /tmp/asd.tomb -s 10` it will put the key on the current directory, which is unwanted and unsecure.

also, it fails because of paths issues at the final stage (locking)

I mark it as critical because it breaks tomb completely (how can I use it, if I cannot create a tomb?) and because of security concerns (writing the key to wrong locations)

[2013-06-01 15:05] boyska opened #97 "lock with paths is broken"
If you run `tomb lock /tmp/asd.tomb asd.tomb.key` it will fai because it looks for `asd.tomb` in the current working directory.

I mark it as critical because it breaks tomb completely (how can I use it, if I cannot create a tomb?)

See also #96

[2013-06-02 08:42] #96 closed, assigned to nobody

[2013-06-12 08:02] #97 closed, assigned to jaromil

[2013-06-12 08:05] #95 closed, assigned to jaromil

[2013-06-12 08:05] #94 closed, assigned to jaromil

[2013-06-12 08:08] #65 closed, assigned to davinerd

[2013-10-29 20:14] davinerd opened #98 "tomb resize multiple command line checking issues"
tomb resize command don't work as expected:

$ ./tomb resize
tomb  .  Commanded to resize tomb  to  megabytes
tomb [E] No tomb name specified for resizing

$ ./tomb resize diolo.tomb
tomb  .  Commanded to resize tomb diolo.tomb to  megabytes
tomb  .  We'll use this key: ./diolo.tomb
tomb [W] Invalid key format: ./diolo.tomb
tomb [W] The key seems invalid, the application/pgp header is missing
tomb

[2013-11-15 19:16] warkruid opened #99 "Resize of more than the shared memory space fails"
Looked through the list, but couldn't find this issue.
Resizeing a tomb larger than the available shared memory fails.
safe_filename() uses /dev/shm/tomb.$1.$$.$RANDOM$RANDOM as a resize file
if the target size is greater than the available /dev/shm space the resize  fails.

[2013-12-11 17:44] r3cgm opened #100 "--size command line argument not honored, only -s"
Synopsis:

[root]# ~/tomb dig --size 10000 test
tomb  .  Commanded to dig tomb 10000
tomb [E] Size argument missing, use --size
[root]# ~/tomb dig -s 10000 test
tomb  .  Commanded to dig tomb test
tomb (*) Creating a new tomb in ./test.tomb
tomb  .  Generating test.tomb of 10000MiB

Although the general help seems to imply that --size should be an alternative for -s, it does not seem to be acknowl

[2013-12-25 12:46] jaromil opened #102 "CBC flaw -> switch filesystem creation default to XTS"
Referring to the recently published "Practical malleability attack against CBC-Encrypted LUKS partitions" http://www.jakoblell.com/blog/2013/12/22/practical-malleability-attack-against-cbc-encrypted-luks-partitions/

and the Tomb treat analysis sketched in this thread (in Italian language)
http://lists.autistici.org/message/20131223.094637.6856d549.en.html

we should switch to XTS in Tomb

I'm mar

[2014-01-12 22:33] #102 closed, assigned to jaromil

[2014-01-12 22:40] #100 closed, assigned to jaromil

[2014-01-12 23:10] #98 closed, assigned to jaromil

[2014-01-12 23:18] #99 closed, assigned to nobody

[2014-01-12 23:28] #25 closed, assigned to davinerd

[2014-01-12 23:29] #13 closed, assigned to nobody

[2014-01-12 23:30] #5 closed, assigned to jaromil

[2014-01-18 00:29] #70 closed, assigned to jaromil

[2014-02-04 19:15] JoelMon opened #103 "tomb -v display's tomb 1.4"
Hello all,

I downloaded Tomb 1.5 (https://files.dyne.org/tomb/Tomb-1.5.tar.gz)
and installed it. When I run tomb -v it outputs 'Tomb 1.4 - a stong
and gentale undertaker for your secrets.'

I was wondering if the inconsistancy is due to someone forgeting to
update the print for tomb -v.

Thanks

[2014-02-20 10:01] #74 closed, assigned to jaromil

[2014-02-20 10:02] #11 closed, assigned to jaromil

[2014-03-21 02:53] mhogomchungu opened #104 "wrong instructions on the main page"
The main page of the project[1] has instructions on how to create a tomb,the instructions reads as follows

[code]

executing the last instruction fail with the following error

[code]

The error is due to the script appending ".key" ending with a file named "secret.tomb.key.key"

[1] http://www.dyne.org/software/tomb/

[2014-03-21 03:16] mhogomchungu opened #105 "open tomb volumes with zuluCrypt"
greetings,

My apologies as this is not a bug report.I just came across this project and i tried it out and it looks like my project zuluCrypt[1] can open tomb volumes using my gpg plugin and i decided to inform you guys.I created this plugin just for the kick of it and i did not know if it could be useful for anybody and it looks like it may be perfect for you guys.

If you want to open a tomb vo

[2014-03-22 10:03] #104 closed, assigned to nobody

[2014-04-02 12:32] #103 closed, assigned to jaromil

[2014-05-01 07:19] #105 closed, assigned to nobody

[2014-05-18 22:42] reiven opened #109 "status code for open with tomb already opened"
Hi, i'm coding a python wrapper for tomb and particulary the exit status code for "tomb open" when the tomb is already mounted is "0". There is any reason for that?

Aditionally, all the output of the commands are on stderr instead of stdout. is that correct?

Thanks

[2014-05-19 02:30] reiven opened #110 "second password from cmdline?"
Hi! i'm trying to use 'setkey' from an python wrapper using subprocess, passing '--unsecure-dev-mode --tomb-pwd newpassword' as argument, but i cannot send the old password using commandline.
There is any way to do that?

Update: i was trying to add --old-tomb-pwd in subcommand_opts[setkey] but cant make it work

[2014-05-20 04:01] #109 closed, assigned to nobody

[2014-06-08 17:51] reiven opened #111 "Error on exit status for resize"
Hi

I'm getting an error on exit for resize command, with the following error:

[code]

But the resize seems to be executed correctly.

There is any way to get 0 status code?

[code]

[2014-06-08 18:37] #111 closed, assigned to nobody

[2014-06-09 09:50] #110 closed, assigned to jaromil

[2014-06-14 21:44] logavanc opened #113 "'Command "check" not recognized' when running 'tomb-qt-create'."
After I launch the Qt GUI, I click on the "Next" button and immediately get an error (screen shot attached).  The command line output is as follows

$> tomb-qt-create
tomb [W] Command "check" not recognized.
tomb  .  Try -h for help.
tomb [W] Command "check" not recognized.
tomb  .  Try -h for help.

![tomb-qt-create](https://cloud.githubusercontent.com/assets/2148189/3279677/e70cd74e-f40c-11e3-88

[2014-07-14 10:34] pitchforks opened #115 "CLI interface inconsistency"
I've played a bit with tomb by running it from a terminal emulator on a desktop which, obviously, has X running.

I have noticed that sometimes tomb would display a GUI password prompt window.

Is this some kind of security feature? I'd certainly be happy to see that password prompt happening inside the terminal as well, in text mode, for consistency.

[2014-07-21 05:27] logavanc opened #116 "The amount of free space in /dev/shm is reported incorrectly."
In the function `_have_shm()`, the available space in `/dev/shm` is reported incorrectly.  SHM is determined using the line...

[code]

...but the `-k` and `-B` parameters to the **df** command seem to be at odds.  From the **df** man page:

[code]

This seems to result in the `-k` parameter being ignored and the returned number of free blocks being in 4KB block sizes.  A couple of lines later, ho

[2014-07-21 14:27] #113 closed, assigned to nobody

[2014-07-23 10:23] melon3r opened #117 "/dev/[u]random"
Right now Tomb is using /dev/random to generate the keys, unless the option --use-urandom is specified. [This article](https://pthree.org/2014/07/21/the-linux-random-number-generator/) suggests that /dev/urandom should be used everywhere, as both share the same PRNG. What do you think?

[2014-07-29 21:51] leethax666 opened #118 "Correct way to pipe exhumed key to the tomp open command?"
I can't seem to make it work using "-k -"

What is the proper command to pipe a key exhumed from an image directly into the open command?

[2014-07-30 12:40] jaromil opened #119 "Wipe and SRM flags changing"
Someone we don't know (marou) reported on IRC yesterday (with lack of details unfortunately)

[code]

This alarms us about the unstable CLI api of these commands, which we maybe need to use without such flags (in case of wipe for instance -q is --quick operation).

We might need to simply drop flags and use the commands with their defaults.

[2014-08-03 15:25] #119 closed, assigned to nobody

[2014-08-04 23:39] ghost opened #120 ""User aborted" message instead of password dialog"
I am unable to set a password for my key. I am using Tomb on a remote server running Debian.
The first time I generated a key, I wasn't looking at the terminal and came back to this message:

`tomb (*) Choose the password of your key: wallets.tomb.key`
`tomb  .  (You can also change it later using 'tomb passwd'.)`
`tomb [E] User aborted.`

tomb passwd didn't work because I didn't have an original

[2014-08-05 00:14] #120 closed, assigned to nobody

[2014-08-06 17:52] #117 closed, assigned to nobody

[2014-08-10 22:33] StrangeTcy opened #121 "Cloud storage"
Imagine that I wish to have a local directory with files from a cloud storage in a tomb. It so happens that all the files tomb generates (.host and others) get uploaded to the cloud. Does this compromise anything?

[2014-08-12 08:56] cyphar opened #124 "Proposal: Use FIFOs or process substitution to pipe keys"
Currently, `tomb` will store your unencrypted keys on the filesystem for a period of time while opening a tomb. I propose that `tomb` should, instead, create a FIFO (using `mknod p /tmp/<blah-blah>`) or just use process substitution (`cat <(echo key)`) to send the unencrypted keys to `cryptsetup`.

Either method has benefits and downsides. Using FIFOs, it would be trivial to modify the codebase to

[2014-08-14 23:15] edlmo opened #125 "Problem with password handling refactor"
Using Tomb for about 4-5 months here.
After pull the repository today, Tomb is no longer able to use the secret key to mount the encrypted file I have always used.
I've  followed the problem to the commit [5158c38](https://github.com/dyne/Tomb/commit/5158c380fefa46396ce3f2ec6ca6b994384de7d2#diff-d41d8cd98f00b204e9800998ecf8427e), but didn't look further.

Here is the output from my command line (r

[2014-08-17 19:05] #125 closed, assigned to nobody

[2014-08-19 21:41] melon3r opened #126 "Fix for #125 breaks something else"
After the fix for #125 tests fail. Now the same problem occurs for new tombs/keys.

It's probably a newline issue again.

[2014-08-23 00:38] melon3r opened #129 "Tomb fails depending on where you call it"
I was messing with tomb and transalations, so I was in '/usr/share/locale' and called `tomb dig -s 10` (yeah, missing tomb name, because I know that the output is translated in all languages so far), and I got this:

[code]

Right now I'm looking into some translation issues, and I'm putting this here so that I won't forget about it. ;)

[2014-08-23 22:57] #129 closed, assigned to nobody

[2014-08-24 00:00] melon3r opened #131 "[RFC] Translations and string parameters"
Right now tomb translations DON'T work as I intended when I pushed #123. Back then I didn't realize that parameter expansion would mess with gettext, and thus, I took for granted that it would work on every string... I was wrong.

To make translations work as intended I propose the following: take `$variables` out of the strings and use `::placeholders` instead, which can be substituted **after**

[2014-09-02 04:56] RuntimeX opened #134 "Can't forge a key"
After forging a key, I am not prompted for a password in a seperate window.
 The message "tomb [w] you set empty password, which is not possible" prints until it quits.

 root /mnt/01CF7A9CC65C5360/pentest # tomb forge -k pentest.tomb.key
tomb  .  Commanded to forge key pentest.tomb.key
tomb  .  Commanded to forge key pentest.tomb.key with cipher algorithm AES256
tomb  .  This operation takes time

[2014-09-02 20:20] alphazo opened #136 "Unable to search"
Running Archlinux with swish-e 2.4.7-1.

I'm able to index my Tomb container:
# tom index

tomb (*) Creating and updating search indexes.
tomb  .  Indexing [test] filenames...
tomb  .  Indexing [test] contents...
Parsing config file '/dev/shm/tomb.swish.8074.SlUN2Vs'
Indexing Data Source: "File-System"
Indexing "/media/test.tomb"

Checking dir "/media/test.tomb"...

In dir "/media/test.tomb/Textes

[2014-09-03 01:50] vecna opened #137 "partition redundancy for bugged supports"
Hi ! I've a damaged SD cards, that is losing something bytes.

I want using Torm over it, Using two partition, I can do an LVM between and make a mirror raid.
This will minimize the corrupted cluster. just, I don't know which is the stablest way :(

It is better make mirroring of the encryption partition, or inside the encrypted partition ?
can be implemented in Tomb the creation of a "twin tomb"

[2014-09-06 18:23] #126 closed, assigned to jaromil

[2014-09-06 18:24] #134 closed, assigned to nobody

[2014-09-09 11:31] melon3r opened #138 "Some variables are empty"
While working on the translations branch I found out that some variables that appear in the strings are empty. For example:
- `$tombfile` is empty in the begining of `lock_tomb_with_key` function
- `$tombkey`is empty in the same function

I'm sure there are more. The first one is easy to fix, as `$tombfile` is being asigned right below it's first use. The second one... I have no clue. The first ti

[2014-09-16 17:13] #131 closed, assigned to nobody

[2014-09-18 23:55] brianmay opened #139 "command line parsing broken"
Hello,

(tomb version 1.5.3)

The documentation says how to use a remote key locally, however says nothing about how to use a local key on a remote server (e.g. when files are stored on cloud server).

The first problem, is that something screwy is going on with command line processing when using it with ssh, I have to repeat the command argument for it to work:

[code]

The second problem is the

[2014-09-19 07:16] #116 closed, assigned to jaromil

[2014-09-19 08:34] alphazo opened #140 "Unable to encrypt volume key with regular GnuPG key instead of pure passphrase"
Would you consider adding a switch to select an existing GnuPG key for protecting the volume master key instead of a password ?
There are two clear advantages for having such capabilities:
1) It allows regular GnuPG users to use their everyday GnuPG key to protect the volume key so they only have to remember one strong passphrase for both GnuPG and Tomb usage.
2) It allows hardware based authentic

[2014-09-19 13:39] x3nu opened #142 "Unused, commented lines in translation files"
Starting from [this line](https://github.com/dyne/Tomb/blob/master/extras/po/de.po#L1403) there are some leftover, commented lines in the translation file.

I left them as they where in my pull request #141 but it seems to me they could be deleted.

The same with french, spanish and russian .po files

[2014-09-23 09:55] #142 closed, assigned to nobody

[2014-09-28 11:30] ghost opened #146 "Unable to forge key on ArchLinuxARM"
When using `tomb forge test.tomb.key`, the following occurs:
![Screenshot](http://i.imgur.com/Sfl8zvL.png)
This repeats until I terminate the process from another terminal.

[2014-09-28 13:30] #146 closed, assigned to nobody

[2014-10-04 19:31] ajs124 opened #147 "problem with hidden files (starting with .)"
So I was testing tomb (1.5.3) and named my tomb ".foo.tomb".
When I open said tomb, it spits out a tune2fs error. By executing the script with set -x I found out that the $tombname variable is empty, which is most likely due to the regex in [this line](https://github.com/dyne/Tomb/blob/master/tomb#L338).
This might cause other problems, too.

[2014-10-06 03:19] hellekin opened #148 "autogrow"
Wouldn't it be nice to have a hook that tells the tomb to automatically grow when it reaches some determined fill, such as 90%? `autogrow` would make it easier to use `tomb` as a drop-in replacement for `eCryptFS` or `EncFS` for home directory encryption.

Of course it would require taking into account the available space on the container, and a configurable upper limit to growth--one reason I see

[2014-10-08 21:29] Bujiraso opened #149 "Delete mountpoint when tomb is closed"
Currently the mountpoint of an open tomb is left behind upon closing the tomb. This could be considered a privacy leak, particularly when trying to hide a tomb amongst many files. It would be a good idea to delete this mountpoint directory after the tomb has closed.

[2014-10-09 22:07] #138 closed, assigned to jaromil

[2014-10-09 22:14] #124 closed, assigned to jaromil

[2014-10-10 22:08] #118 closed, assigned to jaromil

[2014-10-10 22:12] #23 closed, assigned to nobody

[2014-10-10 22:13] #84 closed, assigned to jaromil

[2014-10-20 10:48] jaromil opened #150 "CVEs request: Incorrect temporary file handling && silent code execution"
Interesting analysis of vulnerability here
http://www.openwall.com/lists/oss-security/2014/10/20/2

to be taken definitely in consideration and solved for the upcoming release.

I thought in the latest git HEAD the filename wasn't predictable, will look into this and eventually get rid of all tempfiles alltogether.

[2014-10-20 18:40] boyska opened #151 "Debian package"
This has been faced many times... but now I have a patch for it. If there is interest in the feature, I will propose a clean pull request. You can already see it at https://github.com/AvANa-BBS/Tomb/commit/692723cc0f90221b44a3bc588af4ab6a9ba32f4a

[2014-10-21 08:43] #151 closed, assigned to nobody

[2014-10-22 12:39] boyska opened #153 "make test should fail when one test fails"
at the end of [runtests](https://github.com/dyne/Tomb/blob/master/extras/test/runtests#L267) there is a `return 0`. This defeats the purpose of automatic testing, because it always seems like success from a caller.

I think that a simple measure would be to `return 1` in any case of failure. This is related to #152 , because automated package testing is an important feature I am working on.

[2014-10-23 21:32] #153 closed, assigned to nobody

[2014-10-23 23:20] #136 closed, assigned to jaromil

[2014-10-23 23:35] #115 closed, assigned to jaromil

[2014-10-26 20:44] alphazo opened #154 "Container opens fine with 1.5.3 but not with 1.6.x version"
On Archlinux, I created a container with Tomb 1.5.3 but I can no longer open it with the latest git version of Tomb.

**Tomb 1.5.3**

[code]

**Tomb git version (1.6.x)**

[code]

[2014-10-27 16:50] alphazo opened #155 "[Idea] Using U2F dongle as 2nd factor authentication for LUKS based containers"
I bought myself a cheap FIDO U2F dongle http://www.amazon.com/Plug-up-International-U2F-SK-01-FIDO-Security/dp/B00OGPO3ZS/ and that can be used without any driver (still need a udev rule on Linux though) as a 2nd factor authentication device on Google services (for now) and under Chrome/Chromium 38 only. Since the device is relatively cheap, capable of generating a public/private key pair, answeri

[2014-10-28 10:36] boyska opened #156 "Use status-fd rather than GnuPG process exit codes"
I see on https://github.com/micahflee/torbrowser-launcher/issues/147 that using gnupg exit codes is problematic. Tomb does not depend on this very much (since it uses decryption as a means for authentication), but could anyway do what he suggests. So if there are problems, we just get nothing interesting on output and the disk won't be unlocked.

I'm posting it mainly as a suggestion/discussion th

[2014-11-14 00:57] JoelMon opened #158 "Weblate as a Translation Framework"
# Translating Software

A discussion that appeared in issue #157.
- [Pootle](http://pootle.translatehouse.org)
- [Weblate.org](http://www.weblate.org)
## Weblate

Weblate is Developed by [Michal Čihař](https://cihar.com/) from Prague, Czech Republic. He also contributes to Debian, phpMyAdmin, and other projects.

Weblate is like Pootle in that the translating framework runs on a web-server. One ma

[2014-11-14 14:58] JoelMon opened #159 "Suggest using gettext instead of regular expressions to produce po files"
Hello everyone,

I'm a bit new to this so let me know if I'm wrong.
- The PO files is was you need to translate strings in a script.
- The PO files for tomb are being produced by running the [generate_translatable_strings.sh](https://github.com/dyne/Tomb/blob/master/extras/po/generate_translatable_strings.sh) script which in turn uses regular exprestions to find strings.

Why don't we use somethin

[2014-11-14 18:48] #156 closed, assigned to nobody

[2014-11-14 18:50] #150 closed, assigned to nobody

[2014-11-14 19:14] #139 closed, assigned to nobody

[2014-11-14 23:38] #159 closed, assigned to nobody

[2014-11-19 22:17] brianmay opened #161 "using local key remotely"
As discussed in #139, I would like to be able to use a local key to unlock a tomb on a remote server.

The obvious way:

[code]

Doesn't work because you can't pass both the passphrase and the key at the same time through stdin.

My suggestion would be to have some mechanism to allow "unlocking" the key locally, before sending it. e.g. something like:

[code]

Then we have the following steps:
1.

[2014-11-21 21:33] #161 closed, assigned to nobody

[2014-11-21 22:00] #154 closed, assigned to jaromil

[2014-11-21 23:36] jaromil opened #162 "Correct vulnerabilities as pointed out on netsec"
Reference thread:
http://www.reddit.com/r/netsec/comments/2ms1s0/tomb_file_encryption_on_linux/

[2014-11-22 23:30] fsLeg opened #163 "Tomb refuses to open a tomb without -f flag with implicitly encrypted swap"
My system resides on an encrypted partition, within which resides LVM, within which reside all my volumes: root, home and swap. Thus, my swap is encrypted. But Tomb doesn't detect that, because it can only detect explicitly encrypted swap.

Can Tomb conduct a deeper analysis of swap partitions? Or would it be too much of an effort, and users of such setups will have to use -f option?

[2014-11-22 23:56] fsLeg opened #164 "_whoami function: not valid in this context: /root"
Just tried to test the latest snapshot of Tomb. I can create tombs normally, but whenever I need to enter a password for a key I get this error:

[code]

Latest stable (1.5.3) doesn't seem to have this function and I don't have any problems manipulating the keys or opening tombs with it. But I can't do that with the latest snapshot.

My system is Slackware64 14.1.

[2014-11-23 14:53] fsLeg opened #165 "gettext error when trying to forge a key into existing file"
When I try to forge a key and choose a file that already exists I get this error:

[code]

[2014-11-23 15:28] #165 closed, assigned to nobody

[2014-11-23 21:44] #164 closed, assigned to nobody

[2014-11-23 23:09] #162 closed, assigned to jaromil

[2014-11-24 15:18] fsLeg opened #166 "Tomb doesn't ask for a password when forging a key"
If it's now one, then it's the other... I've got another problem, and this time I'm completely clueless.

Well, this is what happens:

[code]

The password prompt never appears. Interesting fact: `tomb askpass` works as expected under both regular and superuser.

Here's trace taken with `zsh -x`: https://gist.github.com/fsLeg/ab1774f5b95a7a653d84

[2014-11-26 18:47] #166 closed, assigned to jaromil

[2014-11-26 23:23] fsLeg opened #170 "Line 316 is not in tomb.pot"
For some reason the line 316:

[code]

doesn't get into tomb.pot and is always displayed untranslated.

[2014-11-26 23:32] fsLeg opened #171 "Suggestion: display some line before trying to go superuser"
It's kinda misleading when Tomb suddenly asks for a password in a terminal with no warning. We know that password in a terminal is asked by sudo, while a password for a key is asked by pinentry, which in most cases will be graphical. But users don't know that, so it might be confusing for them at first.

There was an issue about password requests being more homogenic. I ask to somehow label what e

[2014-11-27 16:47] #170 closed, assigned to hellekin

[2014-12-04 13:48] tobyjet opened #175 "gpg 1.4.11 issue in gpg_decrypt"
Downloaded Tomb v2.0 script this morning and started playing ... unfortunately I am running gpg v 1.4.11 which throws an error when locking the tomb:
gpg_decrypt:9: unmatched "
gpg_decrypt:9: parse error in command substitution

Basically in line 881 of your script there is an extra " at the end of the gpg command in gpg_decrypt (after --no-options) specifically for this version of gpg. Removing t

[2014-12-04 23:39] absorber opened #176 "A few dead links?"
Hi, I'm pretty new on Git(Hub) and as such I'm not sure how to report new issues. If you have a comment then please let me know how I could do things better next time :)

So in Tomb/README.md there is a passage which reads: "The file [KNOWN_BUGS.md](https://github.com/dyne/Tomb/blob/master/KNOWN_BUGS) contains some notes on known vulnerabilities and threat model analysis."

Also, "If you plan to c

[2014-12-04 23:54] absorber opened #177 "[Feature request] Ability to 'bind' the secret.key to secret.tomb"
Hi, I'm pretty new on Git(Hub) and as such I'm not sure how to report new issues (or feature requests for that matter). If you have a comment then please let me know how I could do things better next time :)

If I'm not mistaken, as of now I have to have 3 things in order to access the tomb:
1. The key file.
2. Passphrase to the key file.
3. The tomb itself.

Although this makes it so that there i

[2014-12-06 16:18] #140 closed, assigned to nobody

[2014-12-06 16:21] #177 closed, assigned to nobody

[2014-12-06 16:22] #176 closed, assigned to nobody

[2014-12-08 21:43] alphazo opened #179 "Do not prompt for Tomb password if secret key material doesn't need one"
There is one little last issue with the GnuPG setup. When I open the Tomb container with a GnuPG encrypted keyfile I first get prompted for a Tomb password for which I can type anything since it no longer applies and then I get the GnuPG password prompt.
Would be nice if Tomb first tried to use the GnuPG _unprotected_ secret instead of prompting for a password?
## Generating a 100MB empty tomb

[c

[2014-12-21 20:53] #175 closed, assigned to nobody

[2014-12-22 06:33] yzaguirre opened #180 "Required .tomb file extension"
Tomb v2 requires that the tomb file must have it's file extension set to `.tomb`, otherwise refuses to open it. I don't want to leave a clue of which tool I use to open said file.
![tomb](https://cloud.githubusercontent.com/assets/1138791/5521790/7c9651de-8970-11e4-976d-7e345936d789.png)

[2014-12-26 23:45] hellekin opened #181 "Mount options are not honored"
xaeiou reported on IRC that the `-o` option is not honored when mounting a tomb.

[2014-12-26 23:48] hellekin opened #182 "Option `-o` means two things"
While investigating #181, I discovered that `-o` is used to mean "override mount options" and "override cipher", which goes against the parsing rules.

[2015-01-04 15:19] jaromil commented on #181
gret job nailing this one, makes it worthed a release. please let us know more about your findings!

[2015-01-04 15:19] #181 closed

[2015-01-04 17:09] CameronNemo commented on #34
In addition to a script in `/etc/pm/sleep.d/`, you will want another script in `/lib/systemd/sleep/` for systemd-logind setups.

[2015-01-04 19:23] #182 closed

[2015-01-05 16:22] JoelMon opened #183 "Tomb trending in /r/commandline"
Tomb is currently trending in [/r/commandline](https://www.reddit.com/r/commandline/).

[2015-01-05 17:19] jaromil commented on #183
Nice. was also in /r/netsec 6 months ago and some criticism was useful for the 2.0 roadmap.
Lets see what comes out of this, there is always something to learn.
Thanks for signaling it.

[2015-01-07 16:42] JoelMon commented on #183
I'll go ahead and link to the comment sections of posts made recently.

[/r/commandline](https://www.reddit.com/r/commandline/comments/2rb45p/tomba_shell_script_to_manage_luks_volumes_easily/)
[/r/linux](https://www.reddit.com/r/linux/comments/2rb1zj/tomba_shell_script_to_manage_luks_volumes_easily/)

[2015-01-08 12:48] Narrat opened #184 "Small mistake in a message string"
Hi

One small thing for that I didn't want to open a PR
https://github.com/dyne/Tomb/blob/master/tomb#L1508
it and dig should be swapped

[2015-01-08 21:41] jaromil commented on #184
better have gdrooid look at this, since he knows better how and where to correct it without messing up translations.

[2015-01-09 16:10] gdrooid commented on #184
Fixed tomb itself and the translation files in bd7300aa3ecb667f0e5b3ee252b42a3fedcb933c. Thank you @Narrat!

[2015-01-09 16:10] #184 closed

[2015-01-12 18:43] alexwh opened #185 "GTK2_RC_FILES is set to empty when custom skull dialog not installed"
I export GTK2_RC_FILES in my profile at login in order to get GTK2 themes working properly on my system - on [line 395](https://github.com/dyne/Tomb/blob/9bcf530c0f77194a20a9add068d79b3f46931e6e/tomb#L395), GTK2_RC_FILES is set for pinentry even if $gtkrc is empty. This clears my globally exported settings and makes the pinentry dialog look ugly, instead of using the proper themes:

![before](http

[2015-01-13 09:42] #185 closed

[2015-01-13 09:42] jaromil commented on #185
thanks for noticing

[2015-01-20 12:39] JP-Ellis opened #186 "Mount Location"
Tomb always seems mounts to `/media/file.tomb/`; however, `udisks2` changed the default mount location to `/run/media/$USER/` and in fact, `/media/` is not even present on my system (unless Tomb creates it).  It would be good if Tomb uses the system's default mount location.

And whilst we're discussing mount location.  Would it be possible to set a default mount location embedded with the file?

[2015-01-21 09:50] jaromil commented on #186
hi JP-Ellis

### mount location (bug)

Thanks for signaling that, I haven't used udisks2 yet on any of my systems. Will add a check: if `/media` does not exists then look for `/run/media/$USER` and use that if existing.

### set-default-mount (won't fix)

There are no "external" options set in Tomb, which is in fact leaving no trace of its use. I have researched the opportunity of appending option

[2015-01-21 10:31] Narrat commented on #186
That must not be the case. Since this typically a /tmpfs

If /media cannot it should switch to /run/media/$USER and create it if doesn't exist yet.

As for udevil it should be noted that it is currently unmaintained.

[2015-01-21 10:53] jaromil commented on #186
ACK. Thanks for the pointers.

[2015-01-21 11:04] JP-Ellis commented on #186
Thanks for having a look at this.

That is correct regarding the `/run`, `./media/$USER` may not exist and needs to be created.

Regarding udevil, I realise it is now unmaintained; however, it is featured fairly prominently on [Arch Linux' Wiki](https://wiki.archlinux.org/index.php/udisks) as a mount helper.  Additionally, it seems that the reason it is no longer maintained is not due to it becomi

[2015-01-21 11:16] #186 closed

[2015-01-21 11:19] jaromil commented on #186
True that unmaintained software sometimes simply means that it is written so well and farsighted that does not needs updates. Actually, I wish most software we use would be like that ;^)

If you like to follow up on udevil please open another issue.

[2015-01-21 11:38] JP-Ellis commented on #186
I might have a look around and see what I can do with udevil, and if I succeed at all, I'll create a pull request.

[2015-01-22 09:27] #183 closed

[2015-01-22 09:30] jaromil commented on #179
Yes indeed, I see the meaningless password prompt popping up. And yes you are right, better to have a switch, more explicit and easier to document in the manual. I'll give this another go soon, looking for a good way to do it that does not add code, eventually removes it from the execution flow.

[2015-01-22 09:33] jaromil commented on #137
Just a heads up here, running a few tombs into a ZFS graveyard since a while now and all seems to be fine and quiet. No walking dead around, all flowers in the pots.

[2015-01-22 09:38] jaromil commented on #34
Any tip for examples or templates or existing scripts in distributions? I'd go for something already tested rather than reinvent the wheel here.

[2015-01-22 09:53] jaromil opened #187 "Possible vulnerability in the GTK2 theme code"
I'm quite happy that Tomb's code is pretty barebone as of today, except for the part providing a custom GTK2 theme. This part is somewhat hairy and was addressed also in issue #185 now closed.

The usefulness of this is of having a recognizable graphical mark when asking the Tomb password, distinguishing the graphical pinentry prompt from other requests usually related to the gnome-keyring passwor

[2015-01-29 03:39] hellekin commented on #179
Didn't test yet...  Wondering though, will that work / did you test with `gpg-agent`?

[2015-01-29 15:43] guruvan opened #188 "tomb unable to open inside docker with tomb script (opens manually)"
I've had a read through issue #154 which gave the necessary commands to open my tomb files manually inside my docker containers, but I'm not able to open via tomb script.

Running tomb as root inside the docker container, with the latest (pulled today) git master, I'm seeing
[code]
(ubuntu - phusion/baseimage)

Prior version was providing <code>"No key available with this passphrase" </code> after

[2015-01-29 16:37] jaromil commented on #188
hi Rob,

I can't understand well from your report: when using the current master/HEAD in git you get
[code]
as an error, and then? does it quits right after with no other error message?

[2015-01-29 16:59] guruvan commented on #188
There's a little form tomb that follows:

[code]

[2015-01-29 17:01] jaromil commented on #188
ACK! just to be sure, can you add a `-D` flag for debug output? it might be that there is no debug.

BTW your report makes me also notice that the README snippet for manual tomb opening is wrong and yours is correct. I also notice that both (yours and the one in the README) only work from ZSh and not in Bash (go figure... I'll figure...).

[2015-01-29 17:05] jaromil commented on #188
Can you please try adding a control to see if $LANG is empty before calling pinentry? it might be that the docker container hasn't set it. On line 366 (before the $DISPLAY check) add:
[code]
I wonder if this should be the default, or if C also would work. To help me figure then try changing that in:
[code]

[2015-01-29 17:08] jaromil commented on #188
Oh neverming, I can take it from that! could reproduce the error using `unset LANG` so my guess is right: your docker is not setting LANG (soon enough?). However nice to handle also this case in tomb.
I'll test the best fix.

Eventually will open another issue about the manual opening...

[2015-01-29 17:11] #188 closed

[2015-01-29 17:11] guruvan commented on #188
Actually @jaromil this is all running from bash as my working shell. Didn't notice the above manual method in README (didn't look!) - got from issue #154 Perhaps I should use zsh as a login shell and try that way as well and we'll see if there's a different result. I'll get some -D output.

$LANG is not set in the container

And you're FAST! :) Thanks!

[code]

[2015-01-29 17:12] jaromil commented on #188
cheers! (love mazacoin <3)

[2015-01-29 17:12] guruvan commented on #188
<3

[2015-01-30 00:02] guruvan commented on #188
Finally had a chance to test this fix :) works perfectly as root. pinentry-curses dialog doesn't come up as non priv user - but this is working for me! :) Thank you

(you should send a mazacoin address!) guruvan at maza club

[2015-01-30 00:46] jaromil commented on #188
go maza go! MTaK8nWWvsCEJpcvxVyQigZDho51KM6Q1s

yes the drop of privilege on pinentry is not happening anymore since last sudo refactoring (2.0) to use less code and facilitate use from normal su

[2015-02-06 12:28] jaromil commented on #187
OK I think this is fine to leave so.

Regarding the distinction between different password input, there will be some improvement addressing issue #171 . closing this one now.

[2015-02-06 12:28] #187 closed

[2015-02-06 12:37] jaromil commented on #148
closing this, as it should be implemented as hook.

[2015-02-06 12:37] #148 closed

[2015-02-06 12:40] jaromil commented on #137
I am experimenting with btrf and snapshot support inside tombs. Seems like a better approach to redundancy to me. else using zfs on sdcard externally to tomb is still a good option.

[2015-02-06 12:46] jaromil commented on #121
closing this as outdated and not leading to any tomb improvement at present. thanks everyone for your insights!

[2015-02-06 12:46] #121 closed

[2015-02-06 12:52] jaromil commented on #67
On these matters I'm now contenplating to leave the header where it is, but also allow the backup of it *inside the tomb* hence on different physical blocks, to prevent the scenario of bitrot of the outer fs and loss of the header. this will be part of the upcoming snapshot feature. I am not sure if to make the header backup also external.

[2015-02-06 12:54] jaromil commented on #67
On keyslots, the warning is there, but I don't exclude making tomb able to manage multiple slots in the future. Will consider opinions shared.

[2015-02-06 15:23] hellekin commented on #137
Something I like a lot about Tomb is the lack of choice: the defaults are usually good enough and keeping the system simple is always a great advantage.  If you're looking into alternate solutions, I'd suggest finding a stable one and sticking to it.  BTRFS sounds interesting because of the snapshots and volumes.  Maybe that could help implement nested hidden tombs (or not, just thinking aloud).

[2015-02-06 15:27] hellekin commented on #67
I'm not sure how backing up the header inside the tomb could help, but I can foresee an interesting application to stripping the header from the tomb and merging it with the key.  That way, the tomb would be undistinguishable from garbage, but given garbage and a header-key, it would become a nice sarcophage.

[2015-02-07 00:13] deadcyclo commented on #155
Would it not be better to implement the yubikey since they have an open API? That would be a much more universal solution for one time passwords and we would not a) have to rely on google, and b) not have to use chrome. Also, as an added bonus yubikey supports PAM so you can use it for OTPs for logging on your system as well. https://www.yubico.com/products/yubikey-hardware/yubikey-2/

(I already

[2015-02-07 00:23] deadcyclo commented on #163
I'm quite interested in such a feature as well. Could one not simply use sudo dmsetup status to determine if swap is encrypted?

[2015-02-08 09:00] jaromil commented on #163
hi :^)

can you providea tested example to detect?

the only reason why this is still pending is that no developer has this setup and can reproduce it.

more in general the swap detection is @hellekin's code.

[2015-02-08 15:52] hellekin commented on #163
Well, actually I do have access to this setup, but I'm not sure how to trace back a swap partition to an LVM volume.  I'm thinking of going from `cat /proc/swaps` to detect active swap to `blkid -t TYPE=swap` to get the UUID of `/dev/dm-*` and `/dev/mapper/*` to check against LVM information using `lvdisplay` and `vgdisplay`... E.g., `dmsetup status` will tell me whether a VG is `crypt` or not.  S

[2015-02-08 16:32] boyska commented on #163
`lsblk` does this. Of course parsing it can be not so easy, still...

[2015-02-08 16:38] boyska commented on #163
mh, look at this. If you want to know if /dev/mapper/myswap is encrypted, you could
`lsblk --inverse /dev/mapper/myswap` (`--inverse` is quite important here) and see if something has type "crypt".
This can be done more easily with
`lsblk --inverse -o TYPE -n $dev|egrep -q '^crypt$'`

Unfortunately, I see that `--inverse` is not present in debian wheezy (that is, util-linux=2.20). In arch (version

[2015-02-08 17:22] hellekin commented on #163
Awesome.  Exactly what is needed.  It also will simplify the check.

[2015-02-08 17:33] jaromil commented on #171
Just committed a fix introducing a new translatable string used in the sudo prompt, to be inserted manually (ping @gdrooid ) the string is:

`"[sudo] Enter password for user ::1 user:: to gain superuser privileges"`

[2015-02-08 17:40] #180 closed

[2015-02-08 18:11] gdrooid commented on #171
I'm working on it ;)

[2015-02-08 18:25] jaromil commented on #171
blazing fast! thanks :^)

[2015-02-08 20:03] deadcyclo commented on #163
Heh. I went to bed yesterday planning on using my evening today creating a fix. Glad I checked this thread first ;)

[2015-02-08 20:20] gdrooid commented on #171
Everything is up-to-dato on POEditor now, I'll push changes to git soon.

[2015-02-08 23:15] hellekin commented on #163
Heh... I think I just destroyed some praised code by making it better. ;o)

I updated the fix to use `lsblk` in all cases.   That means this bug is fixed for `util-linux` >= 2.22 but not before (e.g., at this time Debian Wheezy or Slackware64 14.1).  But as the `-f` option is available, people with plain swaps on encrypted volumes can simply use that option.  I added a reminder to point at this is

[2015-02-09 00:12] jaromil commented on #163
Lets wait a bit that everyone has the time to test this. Please let us know!

Extensive testing can also be done by script:

[code]

[2015-02-09 00:15] jaromil commented on #171
cheers!

[2015-02-09 00:15] #171 closed

[2015-02-10 19:24] davidstrauss commented on #155
Yubikey isn't an open API, it's a proprietary one that a single company runs. U2F doesn't rely on Google. It doesn't even require use of any central, hosted service by any vendor. Unlike Yubikey, FIDO U2F actually is an open standard. Support is also not going to be limited to Chrome; Microsoft has committed to support U2F in Internet Explorer.

This is all aside from how multiple vendors sell U2F

[2015-02-10 23:47] deadcyclo commented on #155
Yubikey most certainly is an open API. You can use their own libraries published under BSD, third party libraries or even write your own for that matter. And no, you don't require the use of a central hosted server. You can run your own, based on the above mentioned libraries, use third party validation server, or based on their own BSD licensed validation server software. Or even do everything co

[2015-02-11 00:03] davidstrauss commented on #155
FOSS-licensed clients do not make something an open API. Amazon AWS has plenty of FOSS clients but is definitely proprietary. The service YubiKey provides for the keys -- configured as they ship -- is not open.

These options are available only if you don't use the YubiKeys as shipped. You have to initialize them in a custom way, generally one-by-one unless you negotiate otherwise. Even then, your

[2015-02-11 18:16] deadcyclo commented on #155
I wasn't talking about the clients talking to yubikeys cloud servers here, but the server/offline implementation, since the previous is of no interest for this case (in my opinion). Basically what you are saying here is really doesn't make any difference since a) there actually isn't a definition of an open API, and that yubikey is well within the most commonly used definitions of an open API, inc

[2015-02-11 22:45] gdrooid commented on #155
No matter how open, closed or hilarious those things are, I don't see them being supported in Tomb anytime soon (if ever). They'd add extra dependencies to tomb, while providing no real security gains.

If you want to have two factor "authentication" (there is no authentication in tomb, you open the lock with a key, no matter who you are) you just have to split the key file and store the halves se

[2015-02-12 08:41] deadcyclo commented on #155
Not necessarily. Something like this would have to be added by creating an external application for it. One would have to be insane to try to implement something like this in bash, hence one could simply check if the external application is available, and if so offer to factor auth.

On the other hand, that probably means it would be better to mirror the functionality of tomb in the external appli

[2015-02-12 09:40] gdrooid commented on #155
Well, yeah, it could be an optional dependency.

Bear in mind that the pass phrase doesn't protect the tomb itself, but the key file. It's like chaining a key to your pants so that nobody can pick it from your pocket; they can still use a bump-key on the lock.

[2015-02-12 10:21] deadcyclo commented on #155
Indeed. But in my daily life I'm fairly sure that the highest risk is losing control of the keys.

[2015-02-12 11:18] jaromil commented on #155
Thanks for this interesting debate! its well informative.

Some of us at dyne.org have passion for yubikeys https://www.dyne.org/software/yubiswitch/ but I'm not really one of them :^P My thoughts on the matter:

The idea of having keys separated from tombs is already a sort DIY yubikey/U2F setup customizable with simple scripts to retrieve the key from usb keys or phones (over bt) or remote hosts

[2015-02-15 02:13] jaromil commented on #163
OK. Can this be closed then?

[2015-02-15 02:43] fsLeg commented on #163
@jaromil I don't think so. The current solution relies on `util-linux` >= 2.22, which isn't the case for some major distributions.

[2015-02-16 08:39] jaromil commented on #163
we either remove all the patching done (which was messy) and stay with old behaviour, or move forward by supporting the future systems and tell people to use -f if util-linuz is old.

I'd rather not merge this branch and leave things as they are for a while longer

[2015-02-16 15:41] hellekin commented on #163
@FsLeg as mentioned in the comments, if you don't have `util-linux` >= 2.22, the code reverts to the old behavior, which is to tell the user to use `-f`.  I don't think we want to spend more time on solving it any differently.

[2015-02-16 20:22] jaromil commented on #163
I don't understand. What is PR doing? Correct me if I'm wrong

[code]

is all three steps, so just a check is stacked? Or 1 and 2 are mutually exclusive?

[2015-02-17 03:25] hellekin commented on #163
On 02/16/15 17:22, Jaromil wrote:

*** 2 - 1 - 3.

It first checks whether util-linux is >= 2.22.  If it is, then it can
detect plain swaps over encrypted volumes, and if that's the case, it
returns 2 -> safe swap.

If it does not have that functionality, it checks using the old method:
if there's a plain swap over an encrypted volume, it cannot detect it,
so it returns 1 -> unsafe swap, and warns

[2015-02-17 07:45] jaromil commented on #163
ok! I misunderstood, thanks for clarifications. I think is ok now then. have you ran tests on different setups? i haven't tested yet.

[2015-02-20 11:30] boyska opened #192 "KDF iteration time is wrong"
The `--kdf` option allows the user to enforce kdf. Its argument is said (not very clearly, actually) to be the number of seconds that it will take to do stretching on that box.

Since the `getiter` program takes an input the microseconds, the number of seconds should be multiplied by one million. Instead, it is multiplied by 10k. see https://github.com/dyne/Tomb/blob/master/tomb#L1141
It is even d

[2015-02-20 11:48] boyska commented on #192
pull request opened!

[2015-02-20 17:44] jaromil commented on #192
wait a second. will this break the iteration settings of previously created tombs?

I was aware of this problem, but never fixed it in doubt.

[2015-02-20 17:52] boyska commented on #192
nope. The iteration count will never be the same running twice. The iteration count is calculated once, then written in the tomb header as one of the kdf parameter (the other being the salt).

[2015-02-20 17:59] hellekin commented on #163
As commented on the pull request, the new code correctly identifies __blocks__, but not __files__.

[2015-02-20 17:59] jaromil commented on #192
Oh, I see. I panicked seeing this pull merged so fast.

[2015-02-20 18:05] jaromil commented on #192
I reverted the reverts. Thanks for the cold-blood fix.

Ideally, I'd like to switch to gnupg -s2k in some future.

[2015-02-20 18:05] #192 closed

[2015-02-22 02:18] hellekin commented on #163
All right, as explained in the pull request !189 the code covers this issue.  But if you're using a __plain swapfile on an encrypted filesystem__ you're out of luck and need to use `-f` anyway.

And don't trust @jaromil when he tells you it won't be implemented in the next release ;o)

[2015-02-22 02:18] #163 closed

[2015-02-23 00:22] jaromil commented on #163
:^D well done

[2015-02-23 00:26] jaromil commented on #67
The main argument I see against this is that of losing compatibility with usual cryptsetup tools, which expect headers to be in place. Other developers may also find it easier to include tomb.

OTOH this would go into the direction of deniability, which is a core feature we aim at.

Something like this could use a"stealth" flag on the tomb transforming it this way

[2015-02-23 09:00] boyska commented on #67
Going a bit back:

Now, let's suppose I am an attacker. I somehow found the way to add a new keyslot. If I am in the condition of doing so, I am also in the condition of dumping the master key. When I have the masterkey, I can do anything in a much stealther way. While adding a luks slot has two disadvantages:
* you can notice it
* you can remove it

So, why would an attacker care about adding a s

[2015-02-23 11:06] boyska commented on #163
By the way, what do you mean with "plain swapfile"? is there something like a non-plain swapfile? Or is there something like a non-plain swap partition? I think they're always plain; when they're encrypted, it's always some ancestor block device that is encrypted. Am I wrong?

[2015-02-23 17:31] hellekin commented on #67
On the topic of removing the header, I guess it can be copied into the tomb (backup) so that it can be restored later.

On the topic of multiple slots, they can be useful if you intend to share the tomb.  Moreover you can still display a notice if there are more than one slot: chances are the user will know whether it's intended or not.  Maybe a tomb can be marked for individual use or shared?

[2015-02-23 22:24] jaromil commented on #67
you both are making good points. More than an attacker scenario, I'm afraid of people forgetting to have multiple keys and leaving them around or even worst having old backups of the tomb with deprecated keys still in slots (removing a key from one copy of the tomb won't magically remove it everywhere....)

But anyway, I'm convinced and think that Tomb's code is mature enough to go forward in thes

[2015-02-24 14:23] jaromil commented on #67
more, somewhat related

4- btrfs and/or zfs tombs, snapshot capable

5- backup header inside tomb (prevents outer-fs bitrot single point of failure)

[2015-03-07 14:38] Narrat opened #197 "Tomb mounting without sudo (Follow up on #186)"
This is some further looking into an idea that JP-Ellis wrote about in #186:
Quote:

So let us gather some cli program names that help with mounts:
 * bashmount
 * ldm (lightweight device mounter)
 * mountie
 * pmount
 * udevil
 * udisks/udisks2
 * udiskie

And look at them:
udiskie is an automounter which uses udisks, bashmount and mountie also rely on udisks.
udisks/udisks2 works with polkit and

[2015-03-07 17:10] jaromil commented on #197
ACK. Thanks for the roundup! Generically speaking I'm incline to stay away from gtk/gnome and such stuff that is not commonly found on headless servers and is made by people that have poor concerns about minimalism and security.

[2015-03-07 17:13] jaromil commented on #197
Also check tcplay, may be another alternative to cryptsetup not requiring su rights. Using udiskctl when available seems reasonable.

[2015-03-08 02:47] Narrat commented on #197
Right, forgot about tc-play.

Well, had a look at skul and cryptmount.
The first is using super user rights, so in that case similar to tomb.
cryptmount needs superuser rights to configure a fstab like file (cmtab) after that the normal user can mount and umount a dm-crypt fs. So not really the right thing for including but maybe an external wrapper.

What about this PAM stuff? I don't know anythi

[2015-03-08 08:36] jaromil commented on #197
Yes, PAM and polkit are the place to look into I guess, but they are very convoluted.
Also I'm not sure they offer interfaces to device-mapper/dm-crypt in addition to the usual mount and init stuff.

[2015-03-09 00:00] Narrat commented on #197
Well with pam_mount (http://pam-mount.sourceforge.net/) there exists something like that --> http://pam-mount.sourceforge.net/mount.crypt.8.html

[2015-03-09 16:22] jaromil commented on #197
As mentioned in the 2006 post, I see is also the case for mount.crypt, loop devices require root. I understand this limitation is inherent to the way loop devices are treated in linux, rather than a dm-crypt issue. Not sure if we can work on that, but the rest is doable and limiting privilege escalation is a good improvement.

[2015-03-10 19:16] Narrat commented on #197
Yeah. Simply using mount.crypt fails with missing rights because of loop devices.

Simple testing the combination udisksctl + mount.crypt didn't work. If I point mount.crypt to the loop device it exits with the message

Maybe I missed something to do

In that way it sounds easier to write it's own mount sub command as extra with suid set, but that doesn't sound sane :D

[2015-03-12 19:08] otizonaizit commented on #197
Hi. I was using my own set of shell scripts until I discovered tomb today. There is a version (0.9.99-alpha-1) of pmount (see http://metadata.ftp-master.debian.org/changelogs//main/p/pmount/pmount_0.9.99-alpha-1_changelog ) available in Debian experimental which allows for mounting luks encrypted files using loop devices without root and without sudo. You only need root once to create the encrypte

[2015-03-12 20:25] jaromil commented on #197
Interesting! forward looking! thanks. I'll try the 0.9.99-alpha sounds very fringe :^)

[2015-03-15 03:20] Narrat commented on #197
If they're ever doing it :P
This is from 2011, but nice that it includes it. Hopefully it's working

[2015-03-16 08:39] jaromil commented on #197
perhaps we should include and start hatching pmount 0.99-alpha in case is left unmaintained?

[2015-03-16 10:21] otizonaizit commented on #197
Yes, looking at the history of the Debian package, given that the Debian maintainer seems to be upstream too (https://pmount.alioth.debian.org/ and http://anonscm.debian.org/cgit/pmount/pmount.git/) and that development seems to have stalled in 2011, taking over maintenance of pmount would be a huge service to the community of non-gnome non-unity non-kde command line users :) On the other hand, gi

[2015-03-17 10:48] jaromil commented on #197
The scenario of a user using tomb on a system where he/she has no access (direct or indirect via sysadmins) is to be excluded fro Tomb. I believe it will never be possible.

But having pmount suid or as sudo nopasswd for some users is useful in case a sysadmin wants to provide his system's users with access to tomb without making them root on the machine. With Tomb we are contemplating this scenar

[2015-03-17 16:32] hellekin commented on #197
Message sent to @fourmond regarding `pmount`.

[2015-04-14 19:41] arthaud opened #198 "Wrong last user in tomb list"
Hi,

When I'm using `tomb list`, the last visited user is wrong.

It's because you are looking for `:$uid:` in */etc/passwd*. Actually, my */etc/passwd* looks like:
[code]

and therefore, looking for `:1000:`, user *skype* is found instead of me.

This happens here: https://github.com/dyne/Tomb/blob/master/tomb#L1821-L1824 and there: https://github.com/dyne/Tomb/blob/master/tomb#L1986-L1989

You c

[2015-04-14 20:40] hellekin commented on #198
Right, is `getent` available for *BSD?

Otherwise using awk could work as well:

[code]
tombuser=$(getent passwd $tombuid | awk -F: '{print $1}')
[code]

[2015-04-14 20:43] arthaud commented on #198
I don't know. Your example using awk seems good.

[2015-04-14 20:45] hellekin commented on #198
Minimal patch, replace:

[code]

with

[code]

(Both my proposals assume use of shadow passwords.)

[2015-04-14 20:50] boyska commented on #198
On Tue, Apr 14, 2015 at 01:40:28PM -0700, hellekin wrote:

I'd prefer

[code]

this is maybe clearer with `cut`:
[code]

[2015-04-14 20:52] hellekin commented on #198
Fair enough.

[2015-04-14 21:30] hellekin commented on #198
@jaromil I put the fix into a branch.  Please ack and close the issue.

[2015-04-17 09:06] jaromil commented on #198
ACK. Two observations:

1) Tomb is not compabible with BSD. If we aim for that, we need some BSD expert to join our team first, then we can target use of tcplay instead of cryptsetup (hence modularize that part of the code) and then finalize. Until we take this route there is no concern against using `getent`.

2) ZSh has native support for simple string-token operations, which is preferable than

[2015-04-17 09:23] boyska commented on #198
point 3 is conceptually wrong. getent does not just read `/etc/passwd`, it

so if you want to reimplement it (but why?) you should actually reimplement a parser for `/etc/nsswitch.conf`; good luck with that.

[2015-04-17 10:21] jaromil commented on #198
Eventually, in 3) I mention we may parse `/etc/passwd` natively, not cover all `getent` functionalities.

[2015-04-17 10:23] boyska commented on #198
So you might not found the user. Not every user is in `/etc/passwd`.

[2015-04-17 10:25] jaromil commented on #198
You are right. Lets resort to solution 2).
Wait for hellekin to respond so we don't waste his branch, he is on another timezone.

[2015-04-20 02:30] arthaud opened #201 "Disable history"
Hi,

I just figured out that we might want to hide some commands so that they don't go in the history file.
For instance, using ``tomb open Data.tomb -k Images/Summer2015/GreatPicture.jpg`` we don't want to put the path to the steganographic key in the history file.

I didn't find any way to do that, except returning an error. We may just add a comment somewhere to ask people to use the zsh HISTIG

[2015-04-20 14:06] jaromil commented on #201
It is done by: `alias tomb=' tomb'` and the env HISTIGNORESPACE=1

[2015-05-15 00:26] liljenstolpe commented on #155
just a quick level-set  yubico is a founding (i believe) member of fido, and one of the key contributors to the u2f spec.  the yubikey neo was one of the first u2f devices.  so if you like yubikey, use a neo with u2f

[2015-05-17 06:55] brianmay commented on #197
pmount has a ``-p`` option, which allows it to mount encrypted filesystems without root:

[code]

Shame if development has stalled.

[2015-05-27 10:12] papermate opened #202 "User arborted"
Hi guys,
I just installed tomb (v. 2.0.1) from tar on my headless raspberry pi

The installation was flawless, all the dependencies are met.
Not sure is me missing something or an actual bug.

When I dig all is fine:
[code]
But when I forge the key something goes wrong, after I've been prompt for a password:
[code]

[2015-05-27 12:07] jaromil commented on #202
Hi there,

searching the error, this thread helps to understand https://forums.gentoo.org/viewtopic-t-699598-start-0.html

[code]

[2015-05-27 12:07] jaromil commented on #202
wondering if we should add this env setting to the pinentry wrapper in Tomb?

[2015-05-27 12:10] jaromil opened #203 "Account expired on poeditor translation webservice"
The third-party service we were using has closed my account because of not logging into it often enough.

@gdrooid would you like to setup a new account that you can administer directly?

I'm sure we do not have time to explore another service or setup our own, but I welcome anyone with problems using poeditor (referring to a past thread) to come up with a working solution.
Else lets stay there.

[2015-05-27 18:04] papermate commented on #202
Hi jaromil, thanks for your reply. Unfortunately your hint did not work, but I tried a lot of things and probably the problem is in gnupg which does not recognize/use pinentry for some reason I don't understand, not in Tomb.

[2015-05-27 19:46] papermate commented on #202
Just in case someone has the same issue, I found a way to have tomb work. I tried a lot of things before, seriously.
Just give a
'''
eval $(gpg-agent --daemon --pinentry-program=/usr/bin/pinentry-curses)
'''
before the forge

I may also add that, being on a headless server, installing this less-than-200 Kb package got me from couple of minutes to 3 seconds for the forge. It keeps the random pool f

[2015-05-28 13:27] gdrooid commented on #203
I'll wait until Saturday, so people can read this and comment.

[2015-05-29 00:00] jaromil commented on #202
allright! I will test to try reproduce, thanks for coming back and detail your solution!

[2015-06-24 19:44] FryDay opened #204 "Tomb only works with .tomb extension now?"
If I have my tomb named whatever.tomb, it works great. I used to be able to have my tomb named whatever I want. Now I get this:

tomb open things.something -k things.something.key
tomb  .  Commanded to open tomb things.something
tomb  .  Valid tomb file found: ./things.tomb
tomb [W] things.tomb is not a valid tomb file
tomb [E] Operation aborted.

This is on Ubuntu 14.04, if it matters.

[2015-06-24 19:49] Narrat commented on #204
See https://github.com/dyne/Tomb/issues/180

[2015-06-24 19:55] FryDay commented on #204
Good call. I was using the latest release, not the latest dev version.

[2015-06-24 19:55] #204 closed

[2015-06-25 12:00] jaromil commented on #204
I think latest dev version is safe to use right now, yesterday I run regression tests and its approaching to be tagged stable.

[2015-06-25 13:09] Bujiraso commented on #149
As of version 2.0.1, the intended functionality of deleting the auto-created mount-point is still not occurring for me.
I notice this is for the 2.0 milestone, and @jaromil said that it was implemented over half a year ago.
Any thoughts?

[2015-06-26 09:14] jaromil commented on #149
Thanks for watching this issue from close. I haven't yet run enough tests on it, but it looks like the new code that handles the deletion has introduced a problem while evolving to support the new /media/$USER mount default in some distributions. Here is the current code:

[code]

[2015-06-26 09:18] jaromil commented on #149
Looks like this has broken since fix #180 as we forgot to keep a consistent naming scheme for mountpoints between the mount and umount (which hasn't removed the mandatory .tomb extension). This is the mount code right now:

[code]

[2015-06-26 09:25] jaromil commented on #149
Looking at the larger picture I believe all this is due because we haven't completed a recent refactoring: the `_plot()` function is now the central point for rendering the tomb path, filename and name, but is not being used everywhere (namely not in mount/umount operations).

[2015-06-26 09:49] #149 closed

[2015-06-30 10:13] laurenth opened #205 "Can't open my tombs anymore: get stuck at get_lukskey()"
Hi,

Command I use:

    tomb open Data/secret.tomb -k ~/.secrets/secret.tomb.key -D

Result:

    tomb [D] Identified caller: laurenth (1000:100)
    tomb [D] Tomb command: open Data/secret.tomb
    tomb [D] Caller: uid[1000], gid[100], tty[/dev/pts/1].
    tomb [D] Temporary directory: /tmp/zsh
    tomb  .  Commanded to open tomb Data/secret.tomb
    tomb  .  An active swap partition is detected

[2015-06-30 22:22] jaromil commented on #205
no idea yet, but quick observation: this problem looks like related to pinentry.

[2015-07-01 02:46] arthaud commented on #205
Actually, I had the same issue 2 weeks ago. That's very tricky.. it only happens with French users..
The problem is in gpg_decrypt():
[code]

With a french computer, we get something like:
[code]

And guess what, there is a [non-breaking space](https://en.wikipedia.org/wiki/Non-breaking_space) for no reason between "1" and "phrase".
This non-breaking space makes zsh freeze at that line:
[code]
Thu

[2015-07-01 07:12] jaromil commented on #205
Very well spotted Arthaud! Many thanks!

I will ask ZSH devs about this one, they are usually well responsive.

[2015-07-02 10:10] jaromil commented on #205
ZSh developers are so cool that they have seen and fixed this bug already less than a month ago: http://www.zsh.org/mla/users/2015/msg00654.html

I've filed the bug for GnuPG here https://bugs.gnupg.org/gnupg/issue2027

[2015-07-02 13:49] laurenth commented on #205
Sorry, but this is not over :(

    unset LANG; tomb forge secret.tomb.key -D

gives:

    tomb (*) Choose the  password of your key: secret.tomb.key
    tomb  .  (You can also change it later using 'tomb passwd'.)
    tomb [W] Pinentry error: syntax
    tomb [E] User aborted.

Same error when I try to open an existing (and locked) tomb.

[2015-07-03 01:30] jaromil commented on #205
I tried several ways, but could not reproduce it yet. Can you investigate this further?
is anyone able to reproduce this problem?

[2015-07-03 02:54] arthaud commented on #205
It works for me, with almost the same environment:

Archlinux up-to-date
Linux ****** 4.0.7-2-ARCH #1 SMP PREEMPT Tue Jun 30 07:50:21 UTC 2015 x86_64 GNU/Linux
tomb 2.0.1
cryptsetup 1.6.7
pinentry 0.9.1
gnupg 2.1.5
LANG="fr_FR.UTF-8"

I'm using aur/tomb-git, which package are you using?

[2015-07-03 05:47] laurenth commented on #205
Quick observation, I can go further if I use `LANG=en_US.utf8` but strangely the output is translated in french (!?!). I'll provide full details this afternoon.

[2015-07-04 09:22] jaromil commented on #205
That seems to be an hash of Arch packaging, it does not corresponds to the git version so I cannot help, hope you figure it out. I cannot reproduce it on any system so perhaps the problem is really about something else in your setup. Try printing out the commands fed into pinentry they may provide hints.

[2015-07-04 09:26] jaromil commented on #205
BTW you mentioned this occurs when you do `unset LANG`, consider that for Tomb that is equivalent to `LANG=C` see at L:377

[code]

[2015-07-04 09:29] jaromil commented on #205
This commit may help you looking deeper e8ca2998b92fd929351ff58d

[2015-07-04 10:38] Narrat commented on #205
Nope. Users a responsible for if it's an AUR package. They built it themselves. And the $pkgver is set for -git packages like:
Latest tag (if available)  + rev count since last tag(rXX) + commit hash (gYYYYYYYY)
So he built a package on top of this https://github.com/dyne/Tomb/commit/55d3263cacf0509a9345855508d6422028ad52c9

[2015-07-06 15:38] jaromil commented on #205
ACK, thanks for explaining! I'll standby for progress from Laurenth however I sort of consider this bug fixed with some minor doubts regarding his setup. If you get stuck with some errors so that you cannot access tombs, always refer to the code snippets in the README documenting how to open and close tombs without using the tomb script.

[2015-07-07 11:22] Narrat commented on #203
How to submit updates for .po files?
I want to improve de.po and it's stated

PO Editor web interface or simply sending us the .po file.

So can I open a PR?

On another note. I have a question about a few things:
 * MB vs MiB; What is it? https://github.com/dyne/Tomb/blob/master/extras/po/tomb.pot#L522 https://github.com/dyne/Tomb/blob/master/extras/po/tomb.pot#L158 (in case of dig. in general MB

[2015-07-08 11:31] jaromil commented on #203
open a PR on github is the best way right now.

those who do not like to make an account on github can mail it to me directly

I just received corrections to the spanish translation via email....

[2015-07-11 04:46] cyphar commented on #67
@jaromil What benefit does having an encrypted version of the header inside the encrypted data have? There still is a single point of failure because you can't read the encrypted header without the keys from the outer header.

[2015-07-11 10:14] jaromil commented on #67
You are right, I have omitted "key" when writing at the time: the idea is to have it inside the "tomb key".
The backup of header should be outside of the tomb as you also point out, because even in case we will adopt a bitrot resistant FS inside the tomb, the header will still be vulnerable for bitrot on its sector, but I guess you understood well this. Thanks for your correction.

[2015-07-17 16:54] demaniak opened #210 "Performance: creating 200Gb tomb is taking more than 15hours"
SO, perhaps more a question that an issue.

How long is tomb supposed to take to create a new, 200Gb tomb file?

At time of writing it has already been running for 15 hours, and the tomb file is 138Gb.

Now, admittedly, the machine in question is a tiny little Asus EEE PC netbook (probably one of the last produced), and the file is being created on an external USB drive....

Looking at top, `dd` a

[2015-07-17 18:30] hellekin commented on #210
Given that you're creating a tomb from a very limited hardware platform, there's nothing strange that it takes so much time.

Note that the idea behind Tomb is to make __portable__ encrypted elements. 200GB seems a lot to me.  I wouldn't use it for more than what a USB stick can hold, as moving it from one device to the next (e.g., for backups) would take way too much time.  In that case I'd encry

[2015-07-17 19:27] demaniak commented on #210
@hellekin ahright then, fair enough. The external drive in question is not mine, but I needed somewhere to stash backups while prepping for an OS re-install. SO I figured "hey lets try do to this securely!"

But ok, this duck ain't gonna fly, so I abandoned that idea. Straight cleartext copy now.

Tomb is still a great tool, so will definitely continue using it...just on a smaller scale ;P

Thanks

[2015-07-17 20:25] hellekin commented on #210
You were only 6 hours away!

[2015-07-17 20:25] #210 closed

[2015-07-17 22:30] boyska commented on #210
If I'm not wrong, tomb use `/dev/random` as a source for random data. This is basically wrong.
http://www.2uo.de/myths-about-urandom/
http://sockpuppet.org/blog/2014/02/25/safely-generate-random-numbers/
urandom should be the default, and maybe (but why?) `/dev/random` should be given as an option.

Even in this case, it is pretty obvious that writing 200GB will never be "fast". But on my computer

[2015-07-18 00:57] linux-modder commented on #210
random or urandom  can be  used  in this case  random is likely to run out
of entropy  faster especially on 200G unless actively  typing or some
such...

Corey W Sheldon
Freelance IT Consultant, Multi-Discipline Tutor
Ameridea LLC, Co-Founder, CTO
(p) +1 (310) 909-7672

    "One must never underestimate the power of boredom...from which
creativity and laziness are borne, which can spark great work

[2015-07-18 07:16] boyska commented on #210
of course random *could* be used. But if it is so slow than creating
tombs is considered unpractical and so encryption is not performed at
all, this is a *bug*.

[2015-07-18 16:13] linux-modder commented on #210
@boyska , not at all secure tombs, like any  form of crypto when done right take time,   fresh from store drives are  churning  nonsense randoms to the disk for  at least  36 before  an encrypted OS goes on.  Using the default  512mb  BS anything over  10G  takes a noticeable time...

[2015-07-18 16:39] boyska commented on #210
there is nothing specific in your comment. You says that "it must take time", which could be sometimes right, but is it a contribute to the issue?

[2015-07-19 11:05] jaromil commented on #210
@boyska you are wrong, Tomb uses `/dev/urandom` to create (dig) unformatted tombs. This should be so as it makes the process faster.

Perhaps known to most participants to the thread, but good to state anyway: we use a reasonably fast  random source to allocate space for un-formatted tomb space to avoid certain attacks based on the fact the attacker has knowledge of the contents of storage support

[2015-07-19 11:14] boyska commented on #210
oh, that's great, I misread the code.
sorry for the noise, then.

yes, haveged is quite good in this respect.
I think I'll add it to the `Suggests:` debian field!

no it's not :)

I think that fallocate does not work on every filesystem. Since it is
quite a common case to keep a tomb on a usb key, this might be a
problem.

[2015-07-19 12:55] linux-modder commented on #210
Gonna go out there and be the dickhead.  If you are worried about time it takes to make a tomb of  any size then don't use it  security  takes time and  comes with other sacrifices /compromises only two of which is  time and convenience ...

[2015-07-20 07:36] jaromil commented on #210
@boyska good point about `fallocate`, did not think about compatibility across FS. So far Tomb works only with ext4, but for the future we plan at least one or two FS that have snapshot capability, not sure if fallocate would then support `btrfs` or `zfs`.

I will change this TODO item into producing documentation for cases in which a Tomb requires less security but must be created fast, then lite

[2015-07-20 07:40] boyska commented on #210
I meant something different. VFAT could be used *inside* the tomb (but why?) even if fallocate is used. Similarly, btrfs, zfs, etc can be used inside a tomb.
I was talking about the underlying filesystem, though. I think that fallocate works on any decent, modern filesystem (reiserfs, zfs, xfs, you name it. Never tested it but am pretty sure), which FAT is not ;)

[2015-07-20 11:16] Narrat commented on #210
OT

What about F2FS? Since there are tombs residing on Flash-mediums, offering the option for a FS that focus on those kind of mediums cannot be bad?

[2015-07-21 08:48] jaromil commented on #210
OK yes I made some confusion, writing github issues from a sunny vacation at 40 degrees is never leading to smart insights really :tongue: Now back. In our conversation lets distinguish between:

1) HOST FS which is the filesystem used to format the storage support hosting the tomb file
2) TOMB FS which is the filesystem used internally in tomb (right now ext4 only)

my considerations:

I cannot s

[2015-07-21 08:55] boyska commented on #210
I see the case for HOST fs to be fat.
While the "typical" workflow is to keep data on the computer, and the
tombkey on a usb drive, I do the contrary.
The clear advantage is that doing so I can always have the data in my
pocket, so in any of my computers they are synced, without the need to
use sshfs, "cloud" or anything else.

My tomb has not much data, so it does not contain only the tomb;
actua

[2015-07-21 09:07] jaromil commented on #210
OK. FAT on HOST makes sense now. Tomb does not contemplate a "typical" workflow BTW :^) its really a tool for anyone to make up easily their own. Yes the HOST FS considerations would mostly be for the documentation, they shall require no change in Tomb's code.

[2015-07-22 13:11] jaromil opened #211 "New search engine: replace swish-e with recoll (xapian based)"
Following up on a recent fix of swish-e search facility for tombs, I stumbled into a problem for index compression on large files (took note in commit b8447dbf24731c4ca263).

After some testing and evaluation I started missing the good experience that Xapian offers when compared to the older swish-e search engine and found out that recoll comes pretty handy with a range of filters that covers even

[2015-07-23 12:58] jaromil commented on #205
No follow up, assuming this is fixed, please re-open only if there are more details on the last blurry issue raised after the fix.

[2015-07-23 12:58] #205 closed

[2015-07-23 13:03] jaromil commented on #202
I haven't reproduced anything, however should detail this in the docs. Myself using this in ~/.xsession
[code]
thus never really experienced any problem.

[2015-07-23 13:08] #202 closed

[2015-07-23 13:11] #201 closed

[2015-07-23 13:18] #198 closed

[2015-07-23 16:04] jaromil commented on #179
I postpone this one for after 2.1 release since

1- we did not test it enough yet
2- still does not adopts a flag instead of a file extension as discussed
3- still asks for a fake password prompt going past with a blank return before working as expected

Rest assured this feature will go in master at some point, however just not now. Meanwhile, anyone using the `gnupg-delegation` branch is welcome

[2015-07-25 10:07] jaromil opened #212 "Debate Tomb on Slashdot"
Here a post on the most popular geek forum debating our software Tomb

http://it.slashdot.org/story/15/07/25/0043206/tomb-a-successor-to-truecrypt-for-linux-geeks

for those liking to participate and offer insights.

I'm especially interested in everyone's opinion about the relation between simplicity and security.

[2015-07-25 11:06] Narrat commented on #212
If it ever comes to that discussion. Currently they're still debating about the topic

[2015-07-25 14:13] gdrooid commented on #203
I'm sorry that it took so long, but I've already set up a project on POEditor. Here's the new url: https://poeditor.com/join/project/b276xMGAmB

[2015-07-26 12:14] jaromil commented on #212
I evince some good points

1- cross-platform support is important. Let's prioritize this issue in librecrypt https://github.com/t-d-k/LibreCrypt/issues/9 which is also rather easy to get. If you can, please contribute to librecrypt!

2- people DO care about simplicity and interoperability with standards. Truecrypt is considered a reliable standard by many. Perhaps we can optionally support librecr

[2015-07-26 12:16] jaromil commented on #203
thanks @gdrooid and no worries, we all have plenty of things going on in our lives.
Cheers for keeping up your love for tomb :^)

[2015-07-27 21:03] elessar71 opened #213 "Italian translation"
To all italian devs:

I have finished the translation from english to italian.
Hope it is ok!

I appreciate any feedback.
Thank you
Max

[2015-07-28 16:06] gdrooid commented on #213
I've just uploaded the Italian translations to the repository, thank you very much!

[2015-08-02 14:17] Mindey commented on #179
Works for me :) (the annoyance is a nuisance)

[2015-08-10 22:12] cwmke commented on #45
I just want to toss one more fs onto the list.  XFS if possible.  Thanks for taking it into consideration.

[2015-08-12 09:18] jaromil commented on #213
Thanks!! the version including this and another new Swedish translation is released

[2015-08-12 09:18] #213 closed

[2015-08-12 09:18] #212 closed

[2015-08-12 09:22] jaromil opened #214 "Improve key stretching (KDF) with new algorithms"
Lets take the good work done at PHC for a start

https://password-hashing.net

The winner is Argon2 with a reference implementation in C and a SSE optimized one
https://github.com/khovratovich/Argon2

also the rest of the applicants are very interesting.

I think it would be really nice to open up the choice for anyone using Tomb to pick an algorithm for KDF, this will protect us from one of the b

[2015-09-14 19:13] deathtrip opened #216 "specifying kdf key hash"
Currently there's no way to choose the hash used by PBKDF2.
Adding an -h option for the lock operation, to select the hash, would be good.

When i read the manpage, which says tomb uses by default aes-xts-plain64:sha256. I thought sha256 is used as the hash, as plain mode doesn't need a hash function for the initialization vector like essiv does.

[2015-09-14 19:52] hellekin commented on #216
What is the use case for choosing a different hash @deathtrip?

In any case, `-h` is already used for help, so it would be another key.  Still, I don't know why we should vary the hash in that case.

[2015-09-14 20:39] deathtrip commented on #216
There's the -o option of choosing the algorithm and operation mode, so it only makes sense to allow to choose the hash also. And most importantly SHA1 is not a secure function, and we have better alternatives available. Encryption software is generally moving away from it, if it has not already.

[2015-09-14 21:02] hellekin commented on #216
Yes, then we should probably use a better hash and move on.  Having a
choice there sounds like, hmmm, quite useless.  Tomb should use the best
available solutions, and keep being compatible with older Tombs, even if
that means "upgrading" the existing tombs.

my .02c

[2015-09-14 21:43] deathtrip commented on #216
Choice is never useless, especially in open source software. And what are exactly the "best" solutions?
We can never know which function/algorithm will be broken first.

[2015-09-15 07:54] jaromil commented on #216
I am in favor of strong defaults and freedom of choice.

Are you talking about exposing the --cipher option in cryptsetup luksCreate?

if yes, that is already exposed via the -o option when using the `tomb lock` command.
It is also stated in the manpage.

[2015-09-15 07:57] jaromil commented on #216
I got confused: you suggest to be able to change the hash for the extras pbkdf2 program.
I think is a good idea! will look into it

[2015-09-15 08:02] boyska commented on #216
On Tue, Sep 15, 2015 at 12:57:10AM -0700, Jaromil wrote:

why is it? (ie: which advantage could this feature give?)

[2015-09-15 08:16] jaromil commented on #216
I need to look into this still, but the advantage would eventually be progress and choice.
the -o option is still unused for the forge operation.

[2015-09-15 08:55] boyska commented on #216
what do you mean?

choice on its own is not a feature when it's completely unclear why someone should choose something else than the default.

Anyway, this is the relevant line:
https://github.com/dyne/Tomb/blob/master/extras/kdf-keys/pbkdf2.c#L127
Changing the hash using some option is rather easy, and that's one of the reasons why I consider this proposal an example of featurism.

[2015-09-15 08:56] hellekin commented on #216
"progress and choice" do not sound neither technical nor convincing.
What is the price and scope of this?

Who is going to use this option?

I'd rather have "best" solutions (i.e. "strong defaults") than choice.
We already made the choice to only use one slot, and lock the encryption
algorithm.  I don't see anything interesting for Tomb coming from
enabling choice of the PBKDF2 hash. "Progress and

[2015-09-15 09:09] boyska commented on #214
several of them are interesting. From a quick read, I see that "Catena" claims to be resistant to cache timing attacks and other side channels, which is certainly a con. I think that the correct thing here is to write/extend/package simple programs that implement those algorithms outside of tomb. (Yes, I partly regret creating a only-for-tomb pbkdf-sha1 wrapper, I should have worked on a pbkdf2 to

[2015-09-15 09:14] deathtrip commented on #216
Strong defaults and choice are not mutually exclusive. If a setting is optional, it doesn't clutter the command line. And we already have an option to use a different encryption algorithm.

[2015-09-15 09:18] boyska commented on #216
unnecessary choice on security related software is a source of bugs. Or
maybe a bug on its own

That has at least an explanation: older cryptsetup version only support
certain modes, so having a way for a user to specify that she wants
retro compatibility is useful.

There is nothing similar about pbkdf-sha1.

[2015-09-15 10:02] hellekin commented on #216
This is not what I meant.  We're using short options for commands, and
these are global, so basically we're limited to 26 letters, 10 digits
and a few special characters.  Grabbing one of those for this kind of
option does not seem like a good idea to me.

That said, we'd certainly benefit from using a better algo than SHA1.

[2015-09-15 10:45] boyska commented on #216
why? If I'm not wrong, preimage resistance is all that's needed for
pbkdf2 to be secure.

[2015-09-15 11:14] hellekin commented on #216
right.  Then are we talking about a non-issue?

[2015-09-15 12:16] jaromil commented on #216
I still agree with @deathtrip: if `-o` is optional for `forge` the only problem to leave it open is to add another case to the rendering of the text header in KDF enabled tomb keys, see https://github.com/dyne/Tomb/blob/master/tomb#L963

I did obviously predicted some progress there by inserting a case switch with the only option being `pbkdf2sha1`.

Said that, @boyska is right there is no real im

[2015-09-15 12:40] jaromil commented on #216
@deathrtip wrote:

Yes, you are right about the initialization vector for xts-plain64 not needing a hash function, but you are confusing what that :sha256 stands for :shipit:

First of all, the reason why the default is stated with the `aes-xts-plain64:sha256` string is that cryptsetup accepts that as a valid switch. After all, we are just a wrapper and prefer to add as less sophistication as poss

[2015-09-15 12:46] jaromil commented on #216
I label this issue minor because if there is any work to be invested in strengthening KDF keys in Tomb, we already agree that should go in the direction indicated by issue #214.

[2015-09-15 12:48] #203 closed

[2015-09-15 13:19] mgian commented on #203
What about [Weblate](https://weblate.org/it/) ?

[2015-09-15 14:20] deathtrip commented on #216
@jaromil wrote:

The "Hash spec" from luksDump can be changed with the cryptsetup --hash option at volume creation, as i have on my drive right now, and is what i proposed to change.
The cryptsetup manpage states about the --hash option:
"For create action specifies hash to use for password hashing.
For luksFormat action specifies hash used in LUKS key setup scheme and volume key digest."

While n

[2015-09-18 05:37] StrangeTcy opened #217 "Nested tombs behaviour"
Disclaimer: I think that the use case here is a weird and improbable one, so analysing it is not a priority.

Let's say I create a tomb called outer.tomb, open it and then in it I create a smaller tomb called inner.tomb.
Then I open the inner tomb. And then try to close the outer one.
At the moment, I'm unable to do that, since inner tomb is mounted and busy. And I think that since I opened the in

[2015-09-18 06:33] jaromil commented on #217
Of course is possible, but it has to be written in code. I doubt it would look good. Perhaps it should be scripted into an exec-hook and not part of tomb's code.

[2015-09-18 07:09] cyphar commented on #205
This happens to me occasionally, and I don't use French. The weird thing is that this worked for quite a while and only recently stopped working then just started working again. I also figured that the error is related to pinentry (but replacing pinentry with something like `systemd-ask-password` still doesn't work). If it happens again, I'll update with the error message I get.

[2015-09-18 10:22] jaromil commented on #205
/me looks at :put_litter_in_its_place: systemd :put_litter_in_its_place: and shivers :scream_cat:

thanks for signaling, indeed we need to have an error message about this one, perhaps also look into system logs and dmesg just to make sure.

[2015-11-07 13:25] #217 closed

[2015-11-14 22:06] fleanegan opened #220 "fuser vs lsof (slam fails, can't reproduce yet)"
I am running arch linux with the AUR tomb-git + tomb-kdf-git package.
Everytime I enter "slam all" or "slam all -f" while having a program accessing a file in my active tomb, I get "target is busy" and try fuser(1).

I hope, that this is the right place for this issue.
Good evening, gentlemen

[2015-11-17 21:46] parazyd opened #221 "Unrecognized option --sudo-pwd for subcommand lock"
While writing a GUI wrapper, I must use an external input for a sudo password. `man tomb` told me about `--sudo-pwd <string>`. However, when using it while locking a new tomb, I get an error saying `tomb [E] Unrecognized option --sudo-pwd for subcommand lock`.
Is it not implemented in the lock command, or am I doing something wrong?

[2015-11-25 16:57] jaromil commented on #221
docs were imprecise, option was removed, sudo has different ways to solve that

cleaned up from manpage here 97399f6b918ef6f99dfe6b22bdfcd0cd346738d6

and we did solve this in person now for your gui! looking forward to is :^)

[2015-11-25 16:57] #221 closed

[2015-12-29 18:38] parazyd opened #222 "Whitespaces in bind-hooks"
While trying to mount my tomb with bind hooks, I discovered an error in parsing. Basically, if a path has spaces in it, it is not parsed correctly. While creating a symlink to the problematic path, it managed to work as a hack for tomb opening and mounting, but it does not help when closing the same tomb.

Here's the problematic entry in bind-hooks:
`palemoon		.pro`
Where .pro is a symlink
`.pro -

[2015-12-30 16:35] jaromil commented on #222
thanks a lot!!

[2015-12-30 16:35] #222 closed

[2015-12-31 17:49] parazyd commented on #220
Post the output of `tomb slam all -D` and fuser output when this happens.

[2016-01-04 09:34] jaromil commented on #220
Good to investigate this and yes it may be fixed along with the whitespace commit. Please @fleanegan when you can let us know how this behaves in latest 2.2 release.

[2016-01-05 15:54] Narrat commented on #220
It's still reproduceable with latest master snapshot.
Arch, tomb-git build based on a08cb6e, open terminal in mount location.

tomb [D] Identified caller: omnius (1000:100)
tomb [D] Tomb command: slam all
tomb [D] Caller: uid[1000], gid[100], tty[/dev/pts/5].
tomb [D] Temporary directory: /tmp/zsh
tomb [D] Name: [Transfer]
tomb [D] Mount: /run/media/omnius/Transfer
tomb [D] Mapper: tomb.Transfer.1

[2016-01-05 18:46] Narrat commented on #220
lsof is working

lsof: WARNING: can't opendir(/run/media/omnius/Transfer/lost+found): Permission denied
COMMAND   PID   USER   FD   TYPE DEVICE SIZE/OFF NODE NAME
termite 15097 omnius  cwd    DIR  254,0     4096    2 /run/media/omnius/Transfer
zsh     15100 omnius  cwd    DIR  254,0     4096    2 /run/media/omnius/Transfer

[2016-01-06 13:59] jaromil commented on #220
is `/run/media` a symlink? the new directory location "standard" needed already a special handling in our code...

[2016-01-10 12:28] Narrat commented on #220
No. the Media folder will be created, but it's not a symlink.
The stuff is running on a tmpfs.

[2016-01-10 18:07] jaromil commented on #220
that's my wild guess then: tmpfs doesn't implements the api calls required by fuser.

should we revert to lsof? change made in commit e482f753daaf881d16bb05cd248d970d7498aad8

[2016-01-10 18:35] Narrat commented on #220
It seems to be something special how it is used for /run.
Other tmpfs based mounts, like /tmp work with fuser.

I would like to know what's happening first, before commenting if something should be reverted

[2016-01-11 11:08] parazyd commented on #220
Narrat, try installing udisks on Arch. It's in the "extra" repo.

[2016-01-12 15:36] Narrat commented on #220
What for? Just to get /media back? Could be done by hand.
In my opinion not a good reason at all.
Despite the fact that udisks2 replaced udisks (Yeah, I know about those blog posts, where they lament about it)

[2016-01-18 14:31] robertmx opened #223 "Username change breaks sudo"
In tomb 2.2, the username change breaks the recommended (by the man page) sudo access to the script. Adding

robert ALL=NOPASSWD: /home/robert/tomb

to /etc/sudoers and then executing the tomb script from my home directory via

sudo ./tomb -D lock test.tomb -k test.tomb.key

(for testing and coding purposes only - I know about the security implications) results in the script prompting for the sudo

[2016-01-18 14:33] robertmx commented on #223
Cleaned up the patch - I forgot one comment from tracing through the code.

[tomb.patch.txt](https://github.com/dyne/Tomb/files/94522/tomb.patch.txt)

[2016-01-29 22:25] Narrat commented on #220
Time has gone by and I'm not wiser :D
For some it seems to work with fuser and for some not. And reintroducing the lsof based handling is kinda ugly.

[2016-02-26 03:31] fullmetal1 opened #224 "tombs mounting over each other"
If you create two tombs in seperate directories with the same name, the second one will mount over the first, and closing will cause issues.

[2016-03-10 02:12] kolobus commented on #210
I would suggest making parameter like "-unsafe" which will use /dev/zero instead of /dev/urandom.
With the hell lot BIG RED WARNINGS saying this option is unsafe.

[2016-03-10 09:33] jaromil commented on #210
even better than that there is a tool to allocate free blocks to a file, which still gives some sort of randomness, see `fallocate`

this can be used outside tomb and inatead of the `dig` command. Perhaps should be mentioned in the docs.

[2016-03-12 05:58] fullmetal1 opened #225 "possible better key stego [feature request]"
right now I'm using a bash script that does

`tomb exhume ${keyfile//[\"\']/} | tomb open ${tombfile//[\"\']/} -k cleartext --unsafe -f`

the key plaintext is steghidden with aes encryption beforehand, and then exhumed and piped from stdio to tomb open.

I suspect that this would be a much better way to do stego than exhuming the pgp encrypted keyfile, and then using that to open the tomb.

It avo

[2016-03-12 13:21] jaromil commented on #225
Have you noticed that since a couple releases you can use directly the image as argument of the `-k` option? it is all handled internally with a call to `exhume_key`, see https://github.com/dyne/Tomb/blob/master/tomb#L986

do you see any problems with that?

[2016-03-13 06:19] fullmetal1 commented on #225
It seems fine except for not really being documented in the manpage (or maybe I just missed it).

Since the purpose of steghiding the key is to hide where the key is, I think that terminal history makes it a little pointless for daily use.

I have it set up so that I enter the key file into my script so that it never gets saved to bash history (and thus I don't have to shred my bash history every

[2016-03-13 06:56] arthaud commented on #225
If you use zsh, just add `alias tomb=' tomb'` in your .zshrc
When a command starts with a space, zsh doesn't put it in the history (that probably works with some other shells).

This tip should probably be written somewhere.

[2016-03-13 08:53] jaromil commented on #225
Yes, is documented here https://github.com/dyne/Tomb/blob/master/INSTALL.md#deleting-history

Even if they are not ending up being bugs, thanks @fullmetal1 for poking around and letting us know.

I'll give an edit to the manual page to also include these things, it needs it. On another front @parazyd noticed the `sudoers` method described in manpage to allow users to use tomb on a system doesn't w

[2016-03-13 09:03] jaromil commented on #220
Yes, the fuser code is much better looking and you are right we shouldn't touch it without knowing exactly why this issue occurs.

As you find some time, please try to reproduce this bug.
We need to find out what is this "*something special how it is used for /run.*"

[2016-04-18 14:47] mhogomchungu opened #226 "Tomb 2.2 does not forge its keys correctly"
test:
1. Forge a new key with the following command

[code]
1. Decrypt the key with gpg and store the "naked key" in a file using command like below:

[code]
1. Check the size of the "naked key" and you will see that its size is 257 bytes.
2. Check the last byte and you will see that its a new line character.

conclusion:
This version of tomb incorrectly adds a new line character before enclosing

[2016-05-06 22:14] reiven opened #227 "Resize issue"
Hi

I'm trying to resize a tombfile of 3000mb to 4096mb but it failed twice, same error

[code]

I'm using tomb 2.1

[2016-05-07 06:41] jaromil commented on #227
what filesystem is the tomb inside? I think it may not support 4gb files (also see dmesg)

[2016-05-11 12:18] reiven commented on #227
You are completely right, i was sure the pend i'm using was using ext4 but i was wrong. Now its working

[2016-05-11 12:18] #227 closed

[2016-06-09 03:13] eloyesp commented on #44
Could you ask about doing that instead of just suggesting that? That will add some usability (and prevent some typing) while making sure that the user know what's happening.

[code]

Also a setting for always doing that would be awesome.

[2016-06-09 08:45] hellekin commented on #44
On 06/09/2016 03:13 AM, Eloy Espinaco wrote:

I don't think it's a good idea:

1. swapping off safely is not a simple task
2. swapping off is a task that doesn't belong to tomb's scope
3. making users lazy and uninformed is not the goal of the program

If you have good reason to use unencrypted swap (hint: you probably
don't) it's not Tomb's call, but yours.  If you want security, you
shouldn't us

[2016-06-09 13:04] eloyesp commented on #44
Ok, didn't know about that.

On the other hand if the recommended approach is encrypting the swap, the
hint should say something about it (besides teaching `swapoff -a`), that
should be possible as is just changing the error message. in
https://github.com/dyne/Tomb/blob/master/tomb#L332

[2016-06-09 13:27] jaromil commented on #44
Tomb has no interactivity by design choice, so that it can be used in shell scripts. In the few cases of interactivity the use of `--force` is suggested to confirm, as also in this case. We may eliminate the `swapoff -a` recommendation and just leave the possibility to `--force`.

[2016-06-09 14:40] eloyesp commented on #44
Why not add a note with a link about encrypting the swap (like
https://gitlab.com/cryptsetup/cryptsetup/wikis/FrequentlyAskedQuestions).
(For the record, encrypting the swap is not that easy.)

---  Eloy

2016-06-09 10:27 GMT-03:00 D.J.R. <notifications@github.com>:

[2016-06-20 10:50] saro commented on #179
Hi, any plan for this feature to land in master?

[2016-06-20 11:05] jaromil commented on #179
Plan is in place, but due to lack of time there is no progress yet. Pull requests are very welcome, they should correct the current behaviour to adopt a flag instead of extension and possibly not require a blank return.

[2016-08-14 17:34] gion86 opened #228 "Tomb mount without sudo password"
Hello,
I tried to configure my system as of tomb manual, with the line:

`username ALL=NOPASSWD: /usr/bin/tomb`

But still when I run

`# tomb open /tomb_file /mnt/tomb -f -k key.idx -q`

it ask for a sudo password. Is it normal? Maybe it's not a bug but it my distro not correctly configured... (Archlinux)

I've noticed that /usr/bin/losetup is the one requiring a password here, but adding this to

[2016-08-16 11:55] jaromil commented on #228
This is on my mind since a while now: a change in the way tomb handles sudo, which considerably simplified the code, broke the behavior documented in the manual.
It is not due to your distro, but to the fact now sudo is called on each internal command.
It would be also a security threat to add each single command to sudoers NOPASSWD considering among them are `chown` and `chmod`.

I'm currently co

[2016-10-09 23:34] mandeep opened #229 "Proposed change for when encrypted swap is found"
Currently when tomb finds an encrypted swap partition, the following message is sent to stdout:
[code]

I propose changing this to something more informative along the lines of:
[code]

Thoughts?

[2016-10-10 10:15] hellekin commented on #229
Doesn't it lack personality?

[2016-10-10 13:54] mandeep commented on #229
I agree it's a bit dry, do you have a statement in mind that is both whimsical and informative?

Maybe something like
[code]
or
[code]

[2016-10-11 13:02] jaromil commented on #229
Perhaps the second. Hassling to have to change all translations.. actually I'm curious how this joke has been translated...

[2016-10-11 22:03] mandeep commented on #229
Can the original message even be translated to other languages? Seems like something that only exists in English.

[2016-10-11 23:33] jaromil commented on #229
Its all in `extras/translations`

The italian one kept literal: "Tutti i tuoi swap appartengono a crypt. Bene."
which indeed doesn't sounds informative nor as funny as in English.

[2016-10-12 07:13] hellekin commented on #229
Most jokes or poems are not translatable.  Colloquial expressions that
are not translatable literally are usually translated to another,
similar expression that conveys the same meaning in the culture
associated with that language.

"[All your base are belong to
us](https://en.wikipedia.org/wiki/All_your_base_are_belong_to_us)" has a
specific history and context that conveys a certain humor and
**

[2016-10-12 16:00] mandeep commented on #229
@hellekin As you said, translating the English phrase would lose its meaning even if it's translated into a similar expression. Also, making people search for the meaning behind a message in an application would be considered inhumane to most ;). Considering how old and overused the original phrase is, I think it makes most sense to abandon it. Most new users my age and below were born after the o

[2016-10-12 19:01] jaromil commented on #229
ok well now i'm really feeling old lol

[2016-10-13 11:05] gdrooid commented on #229
I agree with @mandeep.

[2016-10-16 13:10] jaromil commented on #229
Overall, I also agree with @mandeep. I doubt any small change like this can erase the character that Tomb already has (for instance, by being called tomb).

[2016-10-18 02:32] #229 closed

[2016-10-25 20:41] mandeep commented on #60
I started work on a Python GUI and wrapper for my own use. I'd love to here any feedback for those who are interested in using it. Currently, I'm uncertain if I like how the GUI asks for passwords, but I'm not sure there's an easier way. Project can be found here: https://github.com/mandeep/Mausoleum

[2016-10-25 20:56] jaromil commented on #60
Awesome, will mention Mausoleum in the next Tomb release. How about a tray-icon thingie? I find those quite useful and the one I wrote years ago in C doesn't have lots of functionalities...

[2016-10-25 21:17] mandeep commented on #60
@jaromil Thanks! I personally find tray icons to be annoying for GUI applications, however I could add a minimize to system tray option for those who prefer them. :)

[2016-11-03 02:07] reiven opened #231 "Error in release for 2.2"
Hi!

I've just downloaded the tar.gz for version 2.2 from Releases page (https://github.com/dyne/Tomb/releases) and the packed file still says 'typeset VERSION="2.1"' which is wrong/confusing.

[2016-11-03 09:04] jaromil commented on #231
should not use the release page on github!! the official releases are on https://files.dyne.org

is there a way to deactivate github releases based on tags?

[2016-11-04 17:43] Narrat commented on #231
As far as I know only by deleting the tags from the github repo and avoiding to push those later on.
Which isn't a good solution.
Couldn't it be easier to use signed tags? So downloads from dyne and github are both signed.

[2016-11-17 23:15] aude commented on #228
I am also interested in resolving this bug.

This is a duplicate of the bug #223, which actually investigates the issue and explains the cause. The offending line is https://github.com/dyne/Tomb/blob/c502ef3d921c10f8bfc9ccff70c041575a4f5f66/tomb#L215. It overrides `$USERNAME`, and that seems to make `sudo` think that the caller is whatever `$USERNAME` says.

Is it necessary to set `$USERNAME` in `

[2016-11-18 12:39] jaromil commented on #228
I'm running tests and you seem to be right: by commenting line 215 in tomb the tomb script inclusion in sudoers works (and all tests are passed). Have you tried it also? any collateral effects spotted?

[2016-11-18 12:57] jaromil commented on #231
errare humanum est, see a08cb6e0def4361ea97350d5f5b16e2f3b8bc089

[2016-11-18 14:04] aude commented on #228
Yes, I've done it as well for the time being. Haven't had any casualties so far.

As far as I can see, `$USERNAME` is not used by the tomb script itself.

[2016-11-18 18:02] #228 closed

[2016-11-18 18:02] jaromil commented on #223
thanks @robertmx for the patch!

[2016-11-18 18:02] #223 closed

[2016-12-17 12:40] popsUlfr opened #232 "Empty TOMBSECRET with ZSH 5.3"
Hello,

tomb does not work for me, while locking I'm always getting

[code]

I found that the TOMBSECRET variable was empty inside the _cryptsetup() : https://github.com/dyne/Tomb/blob/master/tomb#L1055 function and that the problem was happening in gpg_decrypt() : https://github.com/dyne/Tomb/blob/master/tomb#L917

The following gives empty results on GPG 2.1.16 at least
[code]

The special case

[2016-12-17 14:46] jaromil commented on #232
This is something I'm deeply concerned. We could:
`1` patch this one too investigating what is the specific problem
`2` change the way we use gnupg and switch to assuan commands over gpgagent (but then it requires a daemon running)
`3` use simple openssl aes-256-cbc symmetric encryption in place of gpg
`4` write a simple C program using libcrypto and merging both symmetric encryption and pbkdf2 fu

[2016-12-17 16:29] popsUlfr commented on #232
| Gnupg version | State |
| --- | --- |
| 2.1.15 | not working (1.4.11 case working) |
| 2.1.14 | not working (1.4.11 case working) |
| 2.1.13 | not working (1.4.11 case working) |
| 2.1.12 | not working (1.4.11 case working) |
| 2.1.11 | not working (1.4.11 case working) |
| 2.1.10 | not working (1.4.11 case working) |
| 2.1.9  | not working (1.4.11 case working) |
| 2.1.8  | not working (1.4.11

[2016-12-18 09:52] jaromil commented on #232
ACK and thanks for the investigation. Yes please change the title, @parazyd in our crew at dyne has also switched to ZSH 5.3 and noticed irregularities. I dislike the solution suggested by TheConstructor since it implies piping the secret to another process (and binary) while zsh's sysread keeps all in the same memory space.

[2016-12-18 10:10] popsUlfr commented on #232
Yes, I see what you mean. I tried a lot of different hacks but every time the stdout gets eaten by the next command, so right now the secret lands in another process any way (grep). I'm not sure if what is happening is actually logical considering that older version of ZSH didn't have that behaviour? Would that be a regression in ZSH or that the old behaviour was wrong?

Looking at this :
[code]

[2016-12-20 20:17] tomw1982 opened #233 "tomb broke"
I dont now why, but after last upgrade linux I can`t open my tomb files:
$ tomb open priv.tomb -k priv.tomb.key -f -D
tomb [D] Identified caller: tomasz (1000:100)
tomb [D] Tomb command: open priv.tomb
tomb [D] Caller: uid[1000], gid[100], tty[/dev/pts/1].
tomb [D] Temporary directory: /tmp/zsh
tomb  .  Commanded to open tomb priv.tomb
tomb [D] is_valid_tomb priv.tomb
tomb  .  Valid tomb file foun

[2016-12-20 20:42] parazyd commented on #233
Downgrade to ZSH 5.2. In the README it's mentioned that ZSH 5.3 broke tomb.

[2016-12-21 16:23] genius-Loci commented on #125
hi, my problem is:
tomb [W] Attempting key recovery.
tomb  .  Password OK.
tomb [E] Failure mounting the encrypted file.

[2016-12-21 16:36] Narrat commented on #125
If using ZSH 5.3 see the README.md or #232

[2016-12-21 17:44] genius-Loci commented on #125
Problem solved, Thank you.

[2016-12-21 22:06] jaromil commented on #232
ZSh 5.3.1 was just released with a bugfix, wondering if this fixes it:
[code]

[2016-12-22 10:59] popsUlfr commented on #232
Hi, same problem with ZSH 5.3.1.

[2016-12-22 12:32] jaromil commented on #232
So I tend to think the old behaviour was caused by a bug in ZSh which has been fixed. I remember fiddling quite a lot with that part of the code in Tomb before settling for something that works, at the price of having grep in between....

[2016-12-22 14:44] jaromil commented on #232
...just tested can confirm that in ZSh versions >5.3 it works by removing the pipe to grep and read.
I'm still looking for a way so that it works in al cases (which is probably using ASSUAN at last), else we need to isolate the ZSh cases by checking versions.

[2016-12-22 16:24] tomw1982 commented on #233
Still not working :(

[2016-12-22 19:16] jaromil commented on #233
As mentioned in the README, if you are in urge to recuperate your files, these simple commands will open the tomb without using the tomb script:

[code]

[2016-12-22 19:18] #231 closed

[2016-12-22 19:46] #225 closed

[2016-12-23 18:21] efx commented on #232
@jaromil I can help test a branch against ZSH 5.3 when something is ready.

[2016-12-26 10:28] #233 closed

[2016-12-26 11:13] jaromil commented on #232
Please everyone check how it goes with this fix df75c39a584d05eba4f7c575d0b5b650bf2c9b01

All my regression tests passed both with new and old ZSh versions.

[2016-12-26 11:24] popsUlfr commented on #232
@jaromil The patch worked with all my tombs

[2016-12-26 12:42] Narrat commented on #232
Still getting an error, but I need to check, if I somehow broke something

[code]

[2016-12-26 15:31] jaromil commented on #232
I believe the problem was caused by
1- somehow sloppy implementation (my fault) which could have been better already before the bug
2- a bug in ZSh which was fixed in 5.3.x series that made emerge a fault in my implementation
The current solution I'm proposing does not introduce a special case for ZSh 5.3, rather fixes the implementation and adds security to it by avoiding the use of `grep`. If no

[2016-12-26 15:45] Narrat commented on #232
I meant to report, that I still cannot open my tombs with tomb from master (with df75c39 included) on zsh-5.3 whereas the same tomb and keyfile work on older versions of tomb and zsh

And something is fishy about the tests. Running it the first time yield a bind fail
Running it again and again (after removing all left overs) leads to this
![1482766987](https://cloud.githubusercontent.com/assets/27

[2016-12-26 15:49] popsUlfr commented on #232
The patch works for me but the tests go bonkers

[code]

None of my tombs were mounted before running the tests.

I get a lot of these:

[code]

[2016-12-26 15:53] jaromil commented on #232
There seems to be something very strange with the unmounting of loop devices on the system you ran these tests. See here an example run on latest HEAD using ubuntu 14 with older ZSh https://travis-ci.org/dyne/Tomb

[2016-12-26 16:04] parazyd commented on #232
Same test results like @popsUlfr here with zsh 5.3.

[2016-12-26 16:14] popsUlfr commented on #232
@parazyd Indeed, the tests leave quite a mess. LuksClose isn't getting called so the loop devices are still in use.

[code]

[2016-12-26 16:21] parazyd commented on #232
`cryptsetup luksClose` is getting called. Otherwise you couldn't close your normal tombs. It's only the first tomb opened by the test unit that's causing problems.

[2016-12-26 16:23] jaromil commented on #232
New CI build based on Arch userland in a Travis chroot https://travis-ci.org/dyne/Tomb/builds/186801746

But I still cannot reproduce your problem.

[2016-12-26 16:25] Narrat commented on #232
One problem is the generation of
[code]
Without udisks installed, /media won't exist, if the user didn't create it manually

[2016-12-26 16:36] jaromil commented on #232
ACK. This may be a test-suite specific error then.
`datacheck.raw` is just a random file that is then checksummed to test integrity of preservation: the dig command is just used because is handy, not to create another tomb inside a tomb.
The datacheck.raw file is created inside the monted `test` tomb. Here below the code handling the default mountpoint for tombs when not specified:
[code]
Where is

[2016-12-26 16:37] popsUlfr commented on #232
@parazyd I mean during the tests luksClose just fails whereas doing it manually afterwards works. Could it be a race condition somewhere? Why is umount exiting without errors but the folder is still busy and rmdir fails?

[2016-12-26 16:40] parazyd commented on #232
@popsUlfr Don't type the correct password when the test unit asks you for one.

[2016-12-26 16:40] Narrat commented on #232
hmm.. the main reason why the test is failing, happens on "Testing open with wrong password" if the right password is entered.
Entering whatever leads to a clean end, but entering test there.. well

[2016-12-26 16:41] jaromil commented on #232
ok that was it. yes that test exists to check that when the wrong password is entered then tomb quits closing all correctly and signaling the error. The wrong password needs to be typed or can also safely wait for timeout. Was that it?

[2016-12-26 16:43] jaromil commented on #232
This reminds me of a rather important item on my TODO for Tomb, which is to avoid mounting twice the same tomb. There must be a check if the tomb is already mounted then abort mounting it again, which is what happens in the tests if the right password is inserted at the wrong-password-check.

[2016-12-26 16:44] popsUlfr commented on #232
I'm confused, what is the right password supposed to be? When it asked I just typed 'test' I assumed it asked me to set the password? After the first password prompt it didn't ask me again.

[2016-12-26 16:45] jaromil commented on #232
the problem is that you typed 'test' :^) one should just press enter or wait timeout on the "wrong password test".

[2016-12-26 16:48] popsUlfr commented on #232
Yeah I was very confused haha, sorry for that. All tests go through, it's all good

[code]

[2016-12-26 16:51] jaromil commented on #232
Thanks everyone!

[2016-12-26 16:52] Narrat commented on #232
And I'm just going to create a new tomb and copy contents over, as I cannot figure out why the stuff is failing for my old tomb
1) Old tomb, fails to open
2) Old tomb opens fine on old zsh and older tomb build
3) Creating new tomb and locking with old keyfile works fine

[2016-12-26 17:02] jaromil commented on #232
Narrat: wait, keep it as it is an important corner case for regression. Can you tell what ZSh and GnuPG versions are you running? what is tomb's log when run with `-D` (`DEBUG=1`)
Please note latest commit improves also debug log messages on failed open.

[2016-12-26 17:12] Narrat commented on #232
ZSh 5.3.1
GnuPG 2.1.17

[code]

(The first failure (gpg: decryption failure) resulting from entering the wrong password)

[2016-12-26 17:39] jaromil commented on #232
This may be related to issue #226. Let us know if you time more time to investigate this case. You may have to analyse the decoded secret data of the key with `hexdump` then obviously posting here is not an option...

[2016-12-26 19:10] jaromil commented on #232
I have added full regression tests against older Tomb 2.x stable releases and they are all passed by current HEAD, this is now also visible on Travis https://travis-ci.org/dyne/Tomb/builds/186826105

This test now rules out the possible bug on keys mentioned above: that is not a bug for Tomb, but it can be for third-party tool compatibility and @mhogomchungu is right in mentioning "its ugly". I'm

[2016-12-26 19:42] jaromil commented on #224
fixed in 14cba81f6e97d1a1fa8ffcf2d34fc96d13d79d63 thanks!

[2016-12-26 19:42] #224 closed

[2016-12-26 21:54] Narrat commented on #232
This specific tomb and keyfile should be from 1.x releases, but that shouldn't propably make a difference.
And I can tell, the story gets even weirder.
I upgraded tomb again to latest master, and again, couldn't open the newly created tomb (using the old keyfile). Did go back to the previous build and can open the tomb again. And that totally doesn't make sense.
Well.. Now I will create a new keyf

[2016-12-26 22:19] jaromil commented on #232
WOW. OK so in your case lets say we have a `magic key`, an `old tomb` and a `new tomb`, both locked with this `magic key` created with 1.x. Then the cases below, please correct me if wrong:
1. `new tomb` opens with 2.2
2. `new tomb` does not open with current HEAD
3. `old tomb` opens with 2.2
4. `old tomb` opens with current HEAD
Question: what did you used to lock `new tomb` with `magic key`? 2.2

[2016-12-26 23:07] Narrat commented on #232
Didn't test new tomb with old tomb version, but yes, the other cases are right.
Or it could be added, that old tomb inbetween 2.2 and current HEAD couldn't be opened

The new tomb was created and locked with tomb build based on commit df75c39.

For the tests, I downgraded ZSh back to 5.2, else I would fail with tomb-2.2
Test files:
2x tombs created with tomb from latest HEAD (14cba81), 1 locked wi

[2016-12-26 23:38] jaromil commented on #232
More or less it does, thanks for the detail.
I need to sleep over this, however it looks like current HEAD solves all problems and most importantly the ZSh 5.3 issue on topic. Commit db976a521029c5991d8316f6d0572e5d6e9b482e may indeed be relevant to your issue.

[2016-12-27 22:27] efx commented on #232
@jaromil thank you for the fix! verified HEAD (14cba81) correctly opens my tomb.
gpg (GnuPG) 2.1.17
zsh 5.3.1

[2016-12-28 07:32] mhogomchungu commented on #226
git version works as expected,thanks for the fix.

[2016-12-28 07:32] #226 closed

[2016-12-28 18:37] tomw1982 commented on #232
Hi, maybe I`m not very advanced linux user, I`m using few year but I recompile all things related with tomb, now I have tomb - version 2.1, zsh - version 5.1 and gnupg - version 2.1.13 from 14.06.2016 and I still have problem with opening tomb. This same all time: $ tomb open priv.tomb -k priv.tomb.key -f
tomb  .  Commanded to open tomb priv.tomb
tomb  .  Valid tomb file found: priv.tomb
tomb  .

[2016-12-28 20:24] jaromil commented on #232
This seems to not be related with this bug. I am afraid it may be due to tomb file corruption.
The error you are getting is due to cryptsetup returning non-zero. You can debug it more in-deep by running the manual command to open a tomb (the same one suggested in the README section "How secure is this?") and eventually adding more debugging flags to `cryptsetup` if it allows it. The command sequen

[2016-12-28 20:27] jaromil commented on #232
for instance a good try can be to do `echo $?` right after the cryptsetup command, then see what the error code is and compare it to the narrow list that cryptsetup manpage gives in its `RETURN CODES` section.
[code]
We shall include that error code in our error message indeed.

[2016-12-28 20:27] #232 closed

[2017-01-02 15:04] reiven opened #234 "Update zulucrypt link in tomb homepage"
Hi!

The current zulucrypt link is poiting to google code, but the ursl says "Project has moved" and redirects to this github repo: http://mhogomchungu.github.io/zuluCrypt/

Maybe it will be a good idea to update the link

[2017-01-02 16:29] reiven opened #235 "Update included tomber version in Tomb pkg"
Actually tomber (https://github.com/reiven/tomber) is being packed in the Tomb 'extras' directory but it was not updated to latest version, and included version is incompatible from v2.2 because of the change in the '--unsafe' parameter renaming.

[2017-01-02 18:10] reiven opened #236 "Setkey Unexpected error in luksClose"
Hi

Using the setkey manually is giving "Unexpected error in luksClose" but the key was changed correctly.
This is the output of the command:

tomb  .  Valid tomb file found: 4281.tomb
tomb  .  Key is valid.
tomb (*) Changing lock on tomb 4281
tomb  .  Old key: 4281.key
tomb  .  A password is required to use key 4281.key
tomb  .  Password OK.
tomb  .  Key is valid.
tomb  .  New key: 4281.2ndkey
to

[2017-01-02 19:34] reiven commented on #236
Looks the problemas was the auto-mount of removable devices.

[2017-01-02 23:12] jaromil commented on #235
ACK. Will update in the upcoming minor bugfix release. Thanks for looking into this and other details!

[2017-01-02 23:14] jaromil commented on #236
are there ways to avoid such problems? I am interested to know in which conditions it occurs.

[2017-01-03 00:41] reiven commented on #236
In some of the steps of the setkey process, before changing the keys itself, if you have the "removable devices" (which is normally default for ubuntu/mint) turned on, it automount the tomb, it fails to close it and ends up with error, even if the key was changed correctly

[2017-01-03 09:25] jaromil commented on #236
it seems to be the dconf setting `org.gnome.desktop.media-handling`. Are there ways to read and set this setting from a script? I think tomb should check it, give a warning and eventually even switch it off and back on during operations. I am assuming there is no way to mark a device as excluded from automount..

[2017-01-03 12:12] reiven commented on #236
Keep in mind that setkey is the only operation with this 'issue' , even tomb open do not trigger the automount.

[2017-01-07 10:31] danvari opened #238 "Are you really using AES-256?"
Hey :),

I (and I guess others too) always thought that using 'luksFormat --key-size 256' implies AES-128 and not AES-256 (which would be --key-size 512). But in the key forging part you make use of 'AES256' for the GPG crypto. Can you please clarify this? The key itself is encrypted with AES256, but the underlying block crypto is done in AES128? Does this makes sense? Is this intended? Why don't

[2017-01-07 19:24] jaromil commented on #238
The block crypto cipher is `aes-xts-plain64:sha256` (unless customised in tomb's lock phase) with 256 bytes long keys.

The key is generated from `/dev/random` using ``dd`` to gather 256 bytes.

The key is symmetrically encrypted using `gpg --cipher-algo AES256` (unless customised at tomb's forge fase).

Hope this clarifies a bit. I'm not sure I understand your concern. Is there some documentation

[2017-01-07 22:51] danvari commented on #238
Have a look for example here:

https://en.wikipedia.org/wiki/Disk_encryption_theory#XEX-based_tweaked-codebook_mode_with_ciphertext_stealing_.28XTS.29

Quote:

"As a result, users wanting AES 256 and AES 128 encryption must supply of 512 bits and 256 bits of key respectively."

This is of course only true for XTS, which is what you use (and which is totally fine). But you really want to set the ke

[2017-01-10 09:31] jaromil commented on #238
I see. You are right. I overlooked this detail when switching from CBC to XTS by default.
We shall update the key creation mechanism to elevate the size to 512 bytes and default to XTS AES256.
Thanks for your advice!

[2017-01-10 09:36] jaromil commented on #235
would you like to file a pull request or shall I do it?

[2017-01-10 09:41] jaromil commented on #216
Some time passed. Do we have any further understanding of cryptsetup behaviour on this issue?

[2017-01-10 09:44] jaromil commented on #158
We ended up running translations on poeditor, account maintained by @gdrooid.

[2017-01-10 09:44] #158 closed

[2017-01-10 09:47] jaromil commented on #137
I guess this can be closed. Mirroring is up to other applications, while creating tombs inside ZFS or btrfs helps prevent bitrot.

[2017-01-10 09:47] #137 closed

[2017-01-10 09:49] jaromil commented on #155
Time passed... anyone has a working setup with u2f, perhaps yubikey based? Folks at yubikey donated some neo models to make this possible, I can test anything already existing, or will hack on a solution soonish.

[2017-01-10 10:44] danvari commented on #238
Great, thanks :), another source, which you can verify locally:

/proc/crypto:

...
name         : xts(aes)
driver       : xts-aes-aesni
module       : kernel
priority     : 400
refcnt       : 3
selftest     : passed
internal     : no
type         : ablkcipher
async        : yes
blocksize    : 16
min keysize  : 32
max keysize  : 64
ivsize       : 16
geniv        : <default>
...

The maximum keysiz

[2017-01-10 13:45] reiven commented on #235
I'll do it, np

[2017-01-14 10:39] #235 closed

[2017-01-14 10:39] jaromil commented on #234
do you want to make this commit yourself as well?

[2017-01-14 17:46] reiven commented on #234
Uhm the dyne/tomb (https://www.dyne.org/software/tomb/) page is availble somewhere?

[2017-01-14 21:51] jaromil commented on #234
ah ok is on the wp webpage. that is on another system indeed. will change or refresh the page / sync with README sometime soon... closing this issue meantime

[2017-01-14 21:51] #234 closed

[2017-01-18 23:39] Narrat opened #240 "generation of .mo files errors out"
I am currently getting errors, when formatting the language files (noticed during installing those)

$ msgfmt -o ru.mo ru.po
ru.po:1151:55: invalid control sequence
ru.po:1155:55: invalid control sequence
msgfmt: found 2 fatal errors

and in case of the french translation:
$ msgfmt -o fr.mo fr.po
fr.po:1181:55: invalid control sequence
fr.po:1185:55: invalid control sequence
msgfmt: found 2 fatal

[2017-01-19 09:33] jaromil commented on #240
How to reproduce the error? `msgfmt -o fr.mo fr.po` gives me no error, nor the ru.
Running on Devuan jessie, `msgfmt (GNU gettext-tools) 0.19.3`

[2017-01-19 10:17] Narrat commented on #240
I'm trying it with HEAD.
Latest release should be fine.

Gettext version is 0.19.8.1

[2017-01-19 21:00] gdrooid commented on #240
You're right, it's failing for me too on `msgfmt (GNU gettext-tools) 0.19.7`. I must have overlooked this on the last update. I'll fix it.

If you want to work with it meanwhile just search for `\$HOME` in the `.po` file and remove the backslash (`\`).

I wonder why the older version of `msgfmt` doesn't fail.

[2017-01-21 17:54] gdrooid commented on #240
Fixed :) Thanks for reporting.

I also updated the `.pot` generation script to remove the conflicting backslash automatically (I used to do this by hand before committing 😓 ).

[2017-01-21 17:54] #240 closed

[2017-01-21 20:07] jaromil commented on #240
well done! thanks everyone!

[2017-01-24 03:27] mandeep commented on #238
@jaromil Will it be possible to forge new keys for existing tombs with the new key length?

[2017-01-24 19:19] Narrat commented on #238
Well, the keys for tombs can be exchanged with "setkey", so it should be possible

[2017-01-26 12:19] jaromil commented on #238
All considered, changing keys to bigger ones for existing tombs will not change the encryption algorithm used to format the tombs. This change affects only the `lock` command (luksFormat). So to have AES256 Tombs one would need to create a new tomb and key and copy all contents from the old to the new one.

[2017-01-30 22:02] mandeep opened #241 "Unable to open tombs with wrapper"
Hi all,

With Tomb 2.3 I am unable to resize a tomb. If I use the following command, I receive the error ```Key not found, specify one using -k.```:

[code]

[2017-01-31 01:26] jaromil commented on #241
Try to put `-k keyfile` before the resize command? curious, as position shall not be a problem... yet in the tests we have this which passes:
[code]
perhaps worth fixing and adding a test on option position

[2017-01-31 02:08] mandeep commented on #241
I tried ```tomb -k test.tomb.key resize test.tomb -s 30``` and received the same error.

[2017-01-31 02:23] mandeep commented on #241
@jaromil It seems that there were changes to Tomb 2.3 that affected the Python wrapper that I wrote as I was able to get Tomb 2.3 resize to work with new Tombs using Tomb. I'll investigate further and let you know what I find.

[2017-01-31 07:59] jaromil commented on #241
are there any failing tests from the testuite in extras/test? just do make in that dir to run all tests.

[2017-01-31 21:28] Narrat commented on #220
I still cannot figure out, why fuser causes those problems (maybe some kind of permission problem).

Looking again at a solution with lsof, without reintroducing the previous mess.
Any specific reason why lsof cannot be used in the way fuser is?
The manual mentions as an example
[code]
Where the signal could be set from a variable like it is done with the for loop and the kill option of fuser?

[2017-02-01 03:18] mandeep commented on #241
The tests seem to be okay. The only difference I could see between the tests I ran and the tests that are on Travis is the following snippet:
[code]

[2017-02-01 07:51] jaromil commented on #220
It's a good guess, but just a guess until we find a way to replicate the bug or at least trigger it with a stress-testing unit.

[2017-02-01 07:54] jaromil commented on #241
Is this right after the resize test block with header `Testing resize to 30 MiB`?

[2017-02-01 08:59] jaromil opened #242 "Tomb hardened userspace bundle"
It would be nice to have a build environment for a static build of Tomb's userspace tools, for instance using musl-libc for all dependencies. It could be a set of script in extras that build this and we may distribute pre-compiled binaries for x86.

[2017-02-01 11:23] Narrat commented on #220
Jeah.
Therefore I want to set up some VMs in the next few days, looking at distributions where it seems to be working.

[2017-02-01 15:38] mandeep commented on #241
No the resize tests passes correctly. This happens on ```Testing open with good password.```

[2017-02-01 23:10] mandeep commented on #241
I've narrowed it down to the key creation and the key lock command. The key forge command I'm using is
[code]

While the lock command is
[code]

Since this is a wrapper I'm having to use the --stdin, --unsafe, and --tomb-pwd flags.  Is anything immediately noticeable?

[2017-02-02 22:51] Narrat commented on #220
Neither with Debian, Fedory, nor with Devuan I am getting a useful result with fuser, when checking the /run directories (only one is the one from the kernel with the mount info), whereas lsof reports back

[2017-02-03 13:56] parazyd commented on #242
Do you only have kdf-keys in mind or more?

[2017-02-03 15:25] parazyd commented on #238
Applied on 9110ccd9d16c1cb25e9694cd426e299c0655f1da

[2017-02-03 15:25] #238 closed

[2017-02-03 15:31] jaromil commented on #242
Well done with that commit! I do have in mind an easy way to build *all* dependencies to the maximum possible extent. I suggest we keep `bootstrap-musl.sh` as a name for such scripts all across subdirs implementing this.

[2017-02-03 15:33] jaromil commented on #220
Thanks for following up and testing. We shall switch to lsof then. You are very welcome to make a pull-request.

[2017-02-03 17:22] parazyd commented on #242
Yes. Let's figure out gtk-tray and qt-tray so we find a common ground whenever you have time :)

[2017-02-03 19:15] parazyd commented on #242
OK, just to leave notes. I have managed to link everything statically on my Gentoo system.

[x] pinentry-curses
[x] gpg2
[x] cryptsetup
[x] e2fsprogs
[x] kdf-keys

`sudo` should stay system-wide. qrencode I can try to figure out (libpng). steghide is C++ and doesn't like being compiled for static linking.

[2017-02-04 00:07] roddhjav commented on #179
I hope you still accept pull request for this...

See:  #244

[2017-02-05 10:26] jaromil commented on #179
Definitely still open especially considering the size and detail of your contribution, obviously you did put a lot of time and attention into this: thanks! Just allow a bit of time so that it can be reviewed, the integration with the test suite certainly helps speeding this up. @parazyd is using my old `gnupg-delegation` branch in a project so I'd certainly like to have his opinion, plus would be

[2017-02-05 10:50] jaromil commented on #242
ACK, Good job! Pity for steghide, I shall have a look into it sometimes. Qrencode is not so important as its only for exporting keys to backup them. I hope is easy to isolate the build procedure into an extras/ subdir?

[2017-02-05 22:57] roddhjav commented on #179
Of course take your time to review it :) and do not hesitate to ask for more detail or/and changes.

[2017-02-06 10:52] #220 closed

[2017-02-08 01:48] mandeep commented on #241
@jaromil Is this intended behavior? If so I can close this issue.

[2017-02-08 09:49] jaromil commented on #241
No, the intended behavior is that using the force flag in tomb `-f` the commands should succeed even with an unencrypted swap. As you wrote "_With the system with the unencrypted swap, -f or swapoff -a both cause errors with opening tombs._" I think this is a bug.

[2017-02-11 22:07] mesbahamin opened #247 "Non-writable Tomb file can't be opened even with "read only " mount option."
I'm trying to open a tomb file that's in a file system mounted as "read only".
Even when I use Tomb's `-o` option with `ro`, I am unable to open it. It seems
that Tomb requires the tomb file to be writable even when instructed to mount it
as read only.

Is this the desired behavior? Does Tomb need to write to a Tomb file in order to open it, even when it mounts it as read only?

I have a desired u

[2017-02-12 14:00] jaromil commented on #247
Hi, thanks for raising the issue. This is not a desired behavior, but noone has looked into this particular use-case since long. I can see the reason to have a read-only mount of a tomb and think the best way possible can be that of intercepting the `ro` option in `-o` and bypassing checks in the mount operation, suspecting the error is when tomb tried to write the `.tty` and `.uid` files inside t

[2017-02-12 17:40] mesbahamin commented on #247
Wonderful! I'll work on this today.

[2017-02-18 05:02] mandeep commented on #241
Hi @jaromil, I just wanted to give you an update. I encrypted my swap partition and I'm still having problems with Tomb 2.3 stating a key file is not found. I've reverted back to Tomb 2.2 and everything seems to be okay. I'm not sure where to pinpoint the problem, but it seems that Tomb 2.3 does not like the commands I posted in the prior post.

[2017-02-18 19:27] jaromil opened #249 "Support for SGX extensions via TresorSGX Linux kernel module"
See: https://github.com/ayeks/TresorSGX

quote:
TresorSGX is an exemplary implementation in the scope of full disk encryption. The TresorSGX LKM registers a new cipher within the crypto API of the Linux kernel which can then be used by dm-crypt. The encryption algorithm used for full disk encryption is implemented within an enclave, and thus it is guaranteed that the implementation cannot be tampe

[2017-02-18 19:28] jaromil commented on #247
Well done, you solved it brilliantly in PR #248. Thanks!

[2017-02-18 19:28] #247 closed

[2017-02-25 16:53] mandeep commented on #241
I've identified the cause for Mausoleum's erratic issues. The swap bug still exists however. I will close this issue since this was mostly about Mausoleum. Let me know if you would like me to open an issue regarding the unencrypted swap behavior.

[2017-02-25 16:53] #241 closed

[2017-02-26 11:23] jaromil commented on #241
yes please, we need to keep an issue detailing the current problem encrypted swap! thanks

[2017-03-13 02:23] ravl1084 opened #251 "Unable to lock tomb using GPG"
I ran into this trying to implement pass-tomb, but even using the command manually causes the same result:
[code]
I have `gpg-agent` set up and it pops up `pinentry-curses` correctly when I use `pass` or `mutt`. Any ideas why it's not prompting for the key's passphrase?

[2017-03-13 14:31] roddhjav commented on #251
This issue is from [pass-tomb](https://github.com/roddhjav/pass-tomb/issues/4).

I was able to reproduce it on a VM that doesn't have a GUI (and therefore doesn't have `pinentry-gtk`) using an encrypted GPG key. The problem comes from how we call gpg in the key decryption function. In bacth mode, gpg cannot query a passphrase using `pinentry-curses` (although it works fine with `pinentry-gtk`).

T

[2017-03-14 15:03] ravl1084 commented on #251
I tried installing `pinentry-gtk2` and I get the same error, even though `pinentry-gtk2` is working for signing e-mail.

[2017-03-14 15:33] jaromil commented on #179
solved by pull-req #244

[2017-03-14 15:33] #179 closed

[2017-03-14 21:40] roddhjav commented on #251
This is surprising, I did a lot of test with `pinentry-gtk2` and encrypted key. That said it was with GPG 2.x maybe GPG 1.x differs. Thanks for the feedback, I'll investigate this too.

[2017-03-16 13:03] jaromil commented on #251
is pass-tomb sourcing tomb to use its same key handling functions?

[2017-03-16 14:01] roddhjav commented on #251
No, `pass-tomb` only call tomb. I just wrote a few functions in pass-tomb like `is_valid_recipients` inspired from the same I wrote for tomb.

Would it be better to source tomb?

pass-tomb is in bash (and has to be in bash ), I don't know if a bash script can source a zsh.

[2017-03-16 18:14] jaromil commented on #251
Ack, ok. No bash cannot source zsh. Then can I close this bug as it seems it only concerns pass-tomb?

[2017-03-16 18:17] jaromil opened #252 "Remove --shared in favor of -r"
Is there anything preventing us to remove the --shared flag in favor of a multiple entry detection on the -r flag when in gpg -g mode?
I am wondering since that will simplify the usage of gpg asymmetric keys overall.

[2017-03-16 18:30] ravl1084 commented on #251
I first reported this under `pass_tomb` but even when I try to manually input the `tomb` commands that `pass_tomb` automates, I get the same issue. My original post shows the output of `tomb lock` on a new tomb, when using my GPG key.

[2017-03-17 07:16] jaromil commented on #251
ACK. Can you try separating the flags -gr into -g -r ? Also can you run tests and see if they all pass? They are in extras/tests, thanks

[2017-03-17 14:41] ravl1084 commented on #251
I ran the tests:
[code]

I still get the exact same error as above.

[2017-03-17 16:15] jaromil commented on #251
ACK. Also separating the flags? for instance:
[code]
instead of `-gr`?

[2017-03-17 16:58] ravl1084 commented on #251
yes

[2017-03-17 17:01] ravl1084 commented on #251
I did some experimenting in my fork, by removing both `--batch` and `--no-tty` from the GPG calls in `tomb`, and now it worked:
[code]

Some notes, `pinentry` wasn't called, I was just prompted for the passphrase directly on the command line.

[2017-03-17 18:31] ravl1084 commented on #251
[code]

[2017-03-19 22:29] darkfeline opened #253 "Misguided usage of /dev/random"
Using /dev/random for tomb forge is misguided. /dev/random and /dev/urandom both come from the same CSPRNG and there is no advantage to using /dev/random while there is a huge disadvantage in that it blocks.

See http://unix.stackexchange.com/a/324210 for more information.

[2017-03-20 08:08] Narrat commented on #253
Similar thing was talked about in #117.
(Just a reference)

[2017-03-20 08:08] Narrat commented on #253
Similar thing was talked about in #117.
(Just a reference)

[2017-03-20 08:21] darkfeline commented on #253
What exactly was the conclusion reached in https://github.com/dyne/Tomb/issues/117?  That we would rather keep using /dev/random for good luck?  I guess that's fine as long as we're clear on the fact that there's no real benefit beyond potentially taking a lot more time and feeling good about ourselves.  The documentation stating that /dev/urandom is lower quality entropy and /dev/random is high q

[2017-03-20 08:55] jaromil commented on #253
The conclusions so far are:
- keep status quo as blocking is more conservative about entropy
- recommend haveged installation (already present in docs)
- find some time to build support for getrandom() as in http://lists.openwall.net/linux-kernel/2014/07/17/235

In any case all options shall be kept open for choice.

[2017-03-20 08:57] jaromil commented on #253
Also I add it would be rad to have an extras for entropy measurement, for instance using https://github.com/dyne/libdisorder

[2017-03-20 19:22] roddhjav commented on #251
It should be fixed with #250. By the way, are you sure you are using gpg-agent?

[2017-03-20 19:34] roddhjav commented on #252
The `--shared` flag is not a technical requirement (tomb does not need this flag to detect the presence of more than one recipient). I implemented this flag only as a ACK from the users they are going to encrypt the tomb key with more than one gpg key. If you think it is not needed, we can get rid of this flag.

We can have a multiple entry detection on the `-r` option instead of separating the ke

[2017-03-20 20:01] jaromil commented on #252
I really think is better to remove `--shared` and have comma separated multiple options on `-r`. If something would require conscious confirmation then the `--force` flag is there for that, but I believe this is not a case requiring it.

For parsing comma separated strings there is the `strtok()` function provided by zuper which is available inside Tomb.

[2017-03-21 13:46] ravl1084 commented on #251
I am, it works with `mutt` and `pass`. I'll try the latest commit.

[2017-03-21 14:47] ravl1084 commented on #251
Here's my test:
[code]

The latest commit did allow me to complete this. It did not use `pinentry-curses` above, but it does when opening the tomb.

[2017-03-21 17:41] jaromil commented on #251
So it seems this issue is fixed as @roddhjav said! I'll close when you confirm.

[2017-03-22 03:11] darkfeline commented on #253
I'm not a cryptography expert, but using haveged is potentially worse than using /dev/urandom.  From what I've read, at worst using haveged compromises /dev/[u]random.

Here's an [article](https://lwn.net/Articles/525459/) that mentions misgivings about HAVAGE.

[2017-03-22 13:43] jaromil commented on #253
Dear darkfeline, the intention of measuring the quality of random is orthogonal to your remarks.
Thanks about the link on haveged criticism, my colleague @parazyd already pointed me at that once.
But lets stick to the topic you opened, whose title is already opinionated enough: we do not have a "misguided use of /dev/random" just because we use a blocking source. A blocking source is supposedly bl

[2017-03-22 13:50] jaromil commented on #253
Going beyond diverging opinions, please note the flag `--use-urandom` which is also documented in tomb's manpage. I'm closing this issue since its solved by the presence of this flag.

[2017-03-22 14:11] ravl1084 commented on #251
Yes, this is resolved.

[2017-03-22 14:58] boyska commented on #253
No @jaromil , the documentation is indeed misguiding. At https://github.com/dyne/Tomb/blob/master/doc/tomb.1#L35 it says

 Similarly https://github.com/dyne/Tomb/blob/master/doc/tomb.1#L262 says

These sentences are wrong. They should be fixed

(and after they are fixed someone will ask "then why on hell is tomb using a slower random source that is no more secure?" when this happen, link to https:

[2017-03-22 15:28] jaromil commented on #253
You are right about the documentation, would you mind doing the fix? else I'll do.

[2017-03-22 15:37] #253 closed

[2017-03-22 15:38] jaromil commented on #253
Actually I just made it, makes sense to have a less opinionated documentation and mention the `--dev-urandom` flag also in the `forge` command. Thanks for insisting :^)

[2017-03-22 16:17] #251 closed

[2017-03-26 00:13] parazyd opened #254 "LUKS header detaching"
Should we implement LUKS header detaching from freshly locked tombs? Should it be a default?

An option for storing the header could be keeping it in the tomb key itself.

[2017-03-27 09:38] jaromil commented on #254
I am in favor of this as it would improve tomb's security and resilience, since one can more easily backup keys instead of the tomb and the integrity of headers is vital to access the tomb.

It is a rather delicate change that should be 100% retrocompatible with older tombs.

There will be the need to extend the range of information embedded "key header", which is right now sometimes present to sp

[2017-03-27 09:42] jaromil commented on #252
thanks, feel free to open a PR when ready with this, or I can merge it by hand from your branch.

[2017-03-27 12:18] roddhjav commented on #252
The PR is not ready yet, I'm investigating a few bugs regarding GPG options, I will submit a PR when all this work will be ready.

[2017-04-05 03:12] stevesbrain opened #255 "Locally Decrypted GPG over SSH"
Hi all,

I have a scenario (like I'm sure some of us do) where my tombs themselves live on remote servers, and I would previously have to pipe my key over SSH like:

[code]

Now, when switching to using an existing GPG key, the private key for that lives only on my YubiKey. This works great locally - but how can I go about decrypting this over SSH? The remote system has no access to the private ke

[2017-04-05 07:44] jaromil commented on #255
Hi! When you write "when switching to using an existing GPG key", do you mean a key that is asymmetrically encrypted using the new `-g` switch, recently implemented in our development version here by @roddhjav ?

[2017-04-05 14:02] roddhjav commented on #255
One of the first commit I did with the GPG support introduced a bug preventing to support of gpg encrypted tomb key loaded from stdin. This is fixed by 1050d43c596238630d22d545e6c8de26bdad0ef5

However, I have a few concerns regarding your ssh command. As I understand it, by `ssh my.other.server.net 'cat tomb.key' | tomb open -k - secrets.tomb` you get the tomb key from the server and use it on a

[2017-04-06 23:56] stevesbrain commented on #255
@jaromil - Indeed, I am referring to the new ```-g``` switch :)

@roddhjav - Apologies if my description didn't quite match the command - I just quickly pulled the command from the reference doco. My key lives on my local machine, whilst the tomb lives on the server :) Whilst sshfs would be better in terms of security, I'd still be encountering the issue whereby I have to decrypt locally first (du

[2017-04-07 00:05] stevesbrain commented on #255
So, I've tested it out just locally for the moment, however, unless I'm misunderstanding, it's not working as expected. The command:

[code]

Does work as expected, prompting me for my GPG key password after I've inserted my YubiKey smartcard. However, using gpg to decrypt first, then piping it to tomb, does not work:

[code]
Running the same without ```-g``` at the end just leads to it prompting

[2017-04-07 06:53] jaromil commented on #255
I am sorry if this answer deludes you, but there are several flaws in your request to fix:
1) Tomb does not facilitate the transport of unencrypted keys on any medium, let alone the Internet
2) Your use-case is best covered by another script, a few lines should be enough to do what you need
3) I recommend you add one line to your command and download the key to a temporary directory then use -g
Th

[2017-04-07 06:53] #255 closed

[2017-04-07 09:38] roddhjav commented on #255
@stevesbrain As @jaromil said, tomb is not intended to be used in this way. You can run
[code]
But not
[code]

As far as I understand, you want to run tomb on the server itself. Meaning the server has the tomb script and decrypt your tomb `help.me` (also on the server) using the unencrypted key it receives through a ssh pipe. **It is a good think tomb *prevents* you of doing this because your serv

[2017-04-16 04:02] jaromil commented on #254
can you post a link here on that cryptsetup with deniable patch?

[2017-04-16 10:47] #252 closed

[2017-04-17 12:26] javabeanz opened #257 "Copy/paste doesn't work"
On Centos 7, copy pasting files onto the open tomb mounted fs doesn't work, "paste" option is disabled.

[2017-04-17 12:35] parazyd commented on #254
It's this one: https://github.com/kriswebdev/cryptsetup-deluks

Keep in mind it's probably not been reviewed by anyone yet.

[2017-04-17 12:41] roddhjav commented on #257
Did you set user permissions on your mounted folder:
[code]

[2017-04-17 13:01] jaromil commented on #257
I'm still undecided if to restore those chown/mods to be set upon mount.
Its sort of handy for noobs but nasty for pros. Looking for opinions.

[2017-04-17 14:21] javabeanz commented on #257
CENTOS automatically offers to open the newly mounted filesystem after
opening the tomb, and mounts them on /media/<tomb name> in my case
/media/secrets
I can modify the rights on this folder but that seems impractical if you
have to do that for each tomb.

On Mon, Apr 17, 2017 at 3:01 PM, Jaromil <notifications@github.com> wrote:

[2017-04-17 18:25] javabeanz commented on #257
Specifying a mountpoint and applying the chown commands dont help :
mount_tomb:135: permission denied: /mnt/win//.uid
mount_tomb:137: permission denied: /mnt/win//.tty
mount_tomb:140: permission denied: /mnt/win//.host
mount_tomb:144: permission denied: /mnt/win//.last

[2017-04-17 18:36] Narrat commented on #257
Did you apply the chown commands before or after mounting the tomb?

[2017-04-17 19:11] Narrat opened #258 "missing lsof stuff"
I started to address the issue of the missing tests back when lsof was reintroduced for slam.
As I don't know much about writing tests I would like to hear some input on what I need to think about etc

https://github.com/Narrat/Tomb/tree/missing_lsof_stuff
this branch holds currently 5 commits. Only two of them are related to lsof:

https://github.com/Narrat/Tomb/commit/8db76b659a0cb4637d253d4fe4c

[2017-04-18 05:46] javabeanz commented on #257
i thought i already tried both but trying it again makes it work. mounting
works now without errors, and copy/paste too. thanks for your assitance.

On Mon, Apr 17, 2017 at 8:36 PM, Narrat <notifications@github.com> wrote:

[2017-04-18 05:47] #257 closed

[2017-04-28 19:58] roddhjav opened #259 "[RFC] Use sharness as test suite"
The test suite in Tomb is handmade. It has for consequences that both the tests and the tests system need to be maintained. Moreover the tests themselves might be less complex and easier to maintain if we use a shell compatible test suite.

I did a few tests using the [sharness](https://github.com/chriscool/sharness) test suite [on my fork](
https://github.com/roddhjav/Tomb/tree/sharness/extras/te

[2017-04-29 07:05] jaromil commented on #259
Dear Alexandre, this looks great! I like it! indeed it becomes much more readable and maintainable with a rather small structural change from what we have now.

[2017-04-29 07:14] jaromil commented on #258
Good point about improving the modularity of tests, in progress on #259 thanks to Alexandre.

Meanwhile, answering your questions:
- I think that yes is OK to specify a mountpoint.
- For the running program in slam test I think writing a small C program that does `open()` then sleeps `argv[1]` seconds could be a clean solution.
- `findmnt` is in util-linux at least since 2014, it is OK to consider

[2017-04-29 12:32] roddhjav commented on #259
That's great, I'm going to continue working on the implementation of theses tests.

Meanwhile, I think test coverage could be added to the system too. I did it to [pass-tomb](https://github.com/roddhjav/pass-tomb) and it was quite useful. However, in pass-tomb I use [kcov](https://github.com/SimonKagstrom/kcov) that doesn't seem to work with zsh. Do you know a test coverage program compatible with

[2017-04-29 17:57] jaromil commented on #259
There is no code coverage tool in zsh AFAIK. Interesting kcov, I suspect bash support may be tried on zsh scripts simply as is, have you tried?

[2017-04-29 18:29] roddhjav commented on #259
Yes, I tried to run kcov on with tomb and it didn't work. (it is able to run tomb but not to get the code coverage).

[2017-04-29 18:58] Narrat commented on #258
Ah, nice. Then I'm putting my work on hold until #259 is done.
And indeed, a simple C-program that comes with the testcase and does the blocking of the mount point makes the life easier. I will go that way.

[2017-05-05 17:36] roddhjav commented on #258
Sorry for the the whitespace issue, it seems I'm at the origin of most (all) of the whitespace correction.

Regarding the tests in the future test suite #260, something like the following (untested) in `10_operations.sh` should work:
[code]

[2017-05-10 14:52] #259 closed

[2017-05-10 22:24] Narrat commented on #258
Thanks for the example.
The current WIP can be found here: https://github.com/Narrat/Tomb/tree/missing_lsof_stuff_2

https://github.com/Narrat/Tomb/commit/c658d33187cde764f7f2fd65f743e79be5d17e75 is still the same. Just enhancing --version.

https://github.com/Narrat/Tomb/commit/1e05ed573ccaa4ad90cbf3cb131ffc758e213ec5 contains the test.
Although there are currently some quirks.
One is the permiss

[2017-05-11 11:32] roddhjav commented on #258
This is a working solution. I have tested it, it works.
[code]

* You need to set the user permissions on the tomb yourself. In the test suite, you can use the `tt_set_ownership` function.
* Use `&` instead of `&&` to put close_block in the background
* Do not forget to remove the `--chain-lint` option in `extras/test/Makefile` (`TEST_OPTS`) otherwise the tests will fail.

[2017-05-11 13:06] Narrat commented on #258
Curious, as I tried it with only & to set it into the background but then an error appeared because of parsing and I interpret it as that there can only be the &&.
And thanks for the note on tt_set_ownership as I (obviously) totally missed it.

Regarding the last point I will get to it when I'm back at home (need to read some pages to understand the impact of this option)

[2017-05-14 07:47] #258 closed

[2017-05-24 01:15] sanbor opened #262 "Support for Docker"
I'm always looking for a multi-platform encryption system. Docker now it's pretty easy to install in macOS and Windows 10. I'd like to hear what do you think about using docker to run tomb. I'm sure that there are security implications by doing this.

I successfully created and opened a tomb but I'm not sure how to close it, as the container exits after creating the tomb.

This might be an interes

[2017-05-24 07:22] jaromil commented on #262
interesting! never used Docker (I'm more of an LXC and KVM fundamentalist) but I do see the advantage to ease usage multiplatform and guess this can be the only way to export some of the integrity in computation that Linux dm-crypt offers into other environments that are fundamentally unsafe.

I'd say that the RNG quality is the major concern if using it mission critical, since the random generato

[2017-05-24 09:11] parazyd commented on #262
Keep in mind if you wish to use the tomb outside of the container, it might be a tough nut to crack, since both Windows and OS X are incompatible with ext{2,3,4} filesystem AFAIK.

[2017-05-24 09:57] jaromil commented on #262
If this thing goes forward I am willing to adapt tomb to work with FAT32. This may be a good occasion also to add support for other filesystems like btrfs.

[2017-05-24 12:59] roddhjav commented on #262
I can confirm tomb works in a docker container (I did a few tests for a Travis.yml that would run the tests suite on multiples distribution).

However, stop me if I'm wrong but dmcrypt is included in the Linux kernel, the container does not have a kernel and therefore all the call to dmcrypt are executed by the host. This is fine when the host is a Linux distribution, but I fail to see how this ca

[2017-05-24 13:05] reiven commented on #262
Keep in mind that to run a linux container on Windows, a linux virtual machine is installed, so in practice windows users will be running Tomb inside a VM.

[2017-05-24 14:46] jaromil commented on #262
Do docker images on Win or OSX manage the VM for the users transparently?
Is there some automatism to share a directory between the guest and host?

[2017-05-26 16:37] tombraidr opened #263 "Q: What happens to tombs if not closed or forgot to close it and then your reboot. Or what if there is a power cut?"
I started using Tomb. It is a great tool! Congrats!

So yeah. What happens if tomb is not closed or you forgot to close it and then reboot? Or what if there is a power cut? Would it be corrupted? Would it be secure?

Sorry if this is not an issue. Thanks!

[2017-05-28 23:59] sanbor commented on #262
@jaromil there is a way of sharing directories between Docker and the host machine. It is called volumes.

Here is an example of how you could do it:
    docker run -it -v $PWD:/tomb ubuntu bash

That will create a new ubuntu container with the current host directory mounted in `/tomb`.

[2017-05-30 10:05] jaromil commented on #263
Tomb uses Ext4 with journaling by default, so there should be no data loss even on dirty shutdowns without unmount. Such shutdowns have occurred to me many times through years of usage and I've never experienced a problem, merits of ext4...

[2017-05-30 10:07] jaromil commented on #262
Cool, let us know how your experiments go. It would be nice to have an easy way to open tombs on any desktop this way.

[2017-05-30 16:01] tombraidr commented on #263
@jaromil

Good to know. Now my bones can rest assured. Thanks!

[2017-05-30 16:01] #263 closed

[2017-05-31 14:45] tombraidr opened #264 "Changed key passphrase. Now I can't open tomb!"
Changed key passphrase. Now I can't open tomb.

Tried changing key passphrase to what it was before. Didn't help.

HELP! What can I do? Thanks

[2017-06-02 08:50] roddhjav commented on #264
There is not enough data to help you here. What are the commands you used?

[2017-06-02 10:16] tombraidr commented on #264
@roddhjav

I'm sorry didn't provide any command. Here's what I remember I did:

[code]

It says 'Password OK' and 'No key available with passphrase'. That sounds kind of contradictory to me.

Thanks!

[2017-06-02 10:26] tombraidr commented on #264
@roddhjav

I updated and edited my previous post with the debugging flag on (i.e. -D).

[2017-06-02 10:38] roddhjav commented on #264
You passphrase for this key seems to be good, however, this is the key that is not linked to the tomb. What command did you use: `pass passwd` or/and `pass setkey`?

[2017-06-02 10:40] tombraidr commented on #264
@roddhjav

I used 'passwd'. I was not even aware of setkey until few moments ago.

[2017-06-02 10:48] roddhjav commented on #264
Can you create a new test tomb and key, change the password and post the result here?

[2017-06-02 10:51] roddhjav commented on #264
Something like:
[code]

[2017-06-02 11:06] jaromil commented on #264
Given the vagueness of the report and the presence of integration tests around this particular case, I think we can safely consider this not to be tomb's bug, unless the system where this is performed has some particularities we should be taking into account, but I doubt.

[2017-06-02 11:08] jaromil commented on #264
@tombraidr can you do `sudo make test` into tomb's source directory?
the very final lines of the resul should report a summary of all tests that you can paste here.

[2017-06-02 11:09] tombraidr commented on #264
@roddhjav

Thanks. I did your suggestion but I could open the tomb even after changing passphrase.

One thing I noticed is that the key that fails is 890 bytes long. Other keys I have are all 894 bytes long.

[2017-06-02 11:16] tombraidr commented on #264
@roddhjav

By the way, this is my tomb version:

[code]

[2017-06-02 11:19] tombraidr commented on #264
@roddhjav

This is the output I get when I check the key.

[code]

[2017-06-02 11:25] tombraidr commented on #264
@roddhjav

And finally (for now), this is the output of:

[code]

[2017-06-06 09:41] vekexasia opened #265 "Pre close hooks?"
It would be nice to have a way to specify a pre-close hooks so that we can perform clean ups of other sort or perform backups.

[2017-06-06 10:12] jaromil commented on #265
Yes, I indended to re-visit this part of the code since long now and complete the set of calls as well document them properly. So thanks for bringing up the issue. I suggest we have 4 callbacks:
[code]
Anything else I forgot?

[2017-06-06 10:17] vekexasia commented on #265
Hello, not actually. I think we might have everything we need with those hooks.

(no pressure) when do you think you might be able to implement these hooks?

[2017-06-06 10:43] jaromil commented on #265
Started branch exec-hooks here https://github.com/dyne/Tomb/commit/056d0174f496b47925baf349b92877263801cdfd
Let me know what do you think.
This may break existing post-hooks scripts, hence renaming the hooks file its necessary to avoid undesired consequences.

[2017-06-06 11:33] vekexasia commented on #265
WoW that was fast. looks good to me. We just need to update the Wiki and that's it?

[2017-06-06 11:50] jaromil commented on #265
You can use the branch assuming it won't change much. I'll wait for people to notice this and review it. It may still benefit from some new test units to cover the case.

[2017-06-06 12:43] vekexasia commented on #265
What do you think about watching exit code and avoid proceeding if an error occurred in the process?

[2017-06-06 12:44] vekexasia commented on #265
A sample use case would be forcing the backup in pre-close hook using an alternative crypto solution such as tar + gpg & backup it to an external USB drive that must be attached.

[2017-06-06 14:17] jaromil commented on #265
good idea, applicable only in case of `pre-*` functions.

[2017-06-06 19:20] vekexasia commented on #265
I was wondering indeed how you could manage the pre-open hook.

but it could be helpful in pre-close hook for the use case mentioned above :)

[2017-06-06 20:54] jaromil commented on #265
yep, its implemented (simply as `open`) always in the exec-hooks branch. let me know about your experience and if you manage to implement your usecase.

[2017-06-08 15:10] tombraidr opened #266 "When using '-k image.jpeg' the image's 'Date Accessed' attribute should NOT be modified [feature request]"
It's not difficult to find keys hidden in JPEG files -even if you have zillions of them in your system- . You only need search for and sort JPEG images by 'date accessed' in descending order to see a list of potential keys.

It would be great if when using `tomb open -k path/to/image.jpeg secret.tomb` something behind the scenes triggers something like:
`datetime = getDateAccessed(path_to_image, i

[2017-06-08 15:55] arthaud commented on #266
That would be great. +1

[2017-06-10 09:16] jaromil commented on #266
Yes, I think you spotted another practical vulnerability in the steganographic mechanism of Tomb, well done! we shall address this either within Tomb or within steghide. I am not sure how to best implement the pseudo-code to retrieve the date in shell, perhaps using stat(1)

[2017-06-10 09:18] jaromil commented on #265
ping. shall we merge this branch then? I see no blockers.

[2017-06-10 09:33] vekexasia commented on #265
yup :)

On Sat, Jun 10, 2017 at 11:18 AM, Jaromil <notifications@github.com> wrote:

--

Andrea Baccega
[image: Email]me@andreabaccega.com
[image: Hangouts]vekexasia@gmail.com
[image: Personal site] <http://www.andreabaccega.com/> [image: Linkedin
Profile] <http://it.linkedin.com/in/andreabaccega> [image: Facebook]
<https://www.facebook.com/andrea.baccega> [image: Google+]
<https://plus.google.com

[2017-06-10 12:08] roddhjav commented on #266
I did a implementation of this proposal using `stat` and `touch`. In order to be sure access time is restored in all uses cases and in order to keep the code clean, the time is restored in the endgame function.

See: https://github.com/roddhjav/Tomb/commit/1c5852f0a1d6300b152258f88005d1aee6394526
Please note it has not been tested yet.

[2017-06-12 15:06] tombraidr commented on #266
Thanks @jaromil , @roddhjav

As soon as people say the commit is working for them I shall close the issue.

[2017-06-12 15:14] tombraidr commented on #266
@roddhjav

Ops! I forgot to clarify the `touch -a -m -t` command I wrote above (probably you know already but it's nice to remind us) `-a` is for 'date accessed' and `-m` is for 'date modified'. Both should be considered separately when restoring datetimes.

[2017-06-13 14:31] tombraidr commented on #264
I'm closing this. It seems the data is now in possession of the Prince of Darkness (i.e. lost forever and ever). Oh, well.

[2017-06-13 14:31] #264 closed

[2017-06-16 09:41] Nalum opened #268 "Permission Denied without sudo"
When I run `tomb open` without sudo I get permission errors when tomb tried to mount the files `.uid`, `.tty`, `.host` and `.last`. These mount fine when running `sudo tomb open`.

Should tomb create the mounted folder and contents with the correct permissions for the user who is creating/opening the tomb?

I'm running Debian Jessie and here is the version info for tomb:
[code]

Here is the debug

[2017-06-17 14:38] roddhjav commented on #268
This is not a bug but a feature. As of today, this is the user work to set the permission according to its need. See 843b7fdfc4c125065d31cc11cff8a994ed680bd4

[2017-06-18 11:06] jaromil commented on #268
Perhaps we can add a notice "if you see warnings below, then set your tomb permissions accordingly".

It would be nice to set the permission of those files in tomb, but the price is to launch a `sudo chown` inside the tomb which is really not what we want. This makes me also wonder if we should simplify the whole privilege escalation model and support only the `sudo tomb $*` form (which can be ali

[2017-06-18 11:21] Nalum commented on #268
Thanks for the info, I had assumed since side was used within for mounting the tomb that it also `chown`d the dir.

Perhaps adding a flag to have tomb do it is an option?

I'm happy to do it myself, so I don't mind what the decision is here.

[2017-06-19 14:52] tombraidr opened #269 "Confusing/misleading/scary messages after retrying a resize that went wrong because a mistyped password (phantom resizing?)"
So I try to resize and typed a wrong password. This happens:

[code]
At this point I'm not sure what to do. There is no information about the status of the resizing. Did it went through? O did I just f*cked it up? I open the tomb and check its size: **It wasn't resized**.  Hmmm...So now what? Should I retry? What if I retry and then wipes out my data?

So I cross my fingers and, close the tomb and

[2017-06-20 08:19] jaromil commented on #269
First of all thanks for your patience and sharing your journey.

I haven't looked closely into it, but recall that long ago I have a similar experience and then put a check for the resize: if tomb already resized (dd appended) then run `resize2fs` on the volume to extend the partition.
Perhaps this should be explicitly stated: that resize is half way but nothing is lost (there is no risk for the d

[2017-06-27 20:29] warkruid opened #271 "call to exec_safe_func_hooks() fails"
I upgraded tomb a couple of days ago.
First I noticed that the post-hooks was changed to exec-hooks.
Ok, I can live with that. But then I noticed that a call to exe_safe_func_hooks barfed

 exec_safe_func_hooks open ${tombmount}

...
exec_safe_func_hooks() {
    # Only run if post-hooks has the executable bit set
    [[ -x $mnt/exec-hooks ]] && {
        _success "Exec hook: ::1 exec hook:: ::2 ac

[2017-06-28 08:49] jaromil commented on #271
Thanks for reporting this. Yes this was a recent change and is not yet in stable as we wanted to run it through a bit and see reactions also re: change of function name.

[2017-07-03 09:39] #265 closed

[2017-07-10 17:15] wizbox opened #272 "All drives wake from sleep when opening a tomb"
I am using tomb with pass-tomb plugin for pass. When I open a tomb there is a 15-20 second delay while every single drive on my box wakes from sleep, including attached usb drives, then the tomb eventually opens. No data is spanned across these drives, I'm not sure why they need to be woken from sleep?

[2017-07-18 18:36] jaromil commented on #272
Can you run `tomb -D` and point out in what stage of the command tomb exactly hangs? Thanks!

[2017-07-21 06:53] gador opened #273 "Tomb closing fails when mounted on a binded directory"
Hi,

Tomb yields an error when the mount point is on a binded directory and will fail, leaving a decrypted loop device. I wrote a detailed blog post about the problem [1]. To summarize it:

1) I use Qubes OS[2]. This comes with some not-standard folder setups. One of them is bind-mounting the /home directory to /rw (This is necessary because of the underlying architecture. /rw keeps the persisting

[2017-07-21 07:36] jaromil commented on #273
hi Florian, thanks for the detailed report! indeed QubeOS2 specific, but worthed supporting.

Also I am aware of the "Linux horrible bound mount management" issue, facing it in Tomb where even a simple change in the `mount` output may break our tool. Lets keep eyes peeled for better solutions in any case.

I suspect the only reason you PR breaks is trivial and not related to your changes, but to a

[2017-07-21 08:13] gador commented on #273
Yes, it appears, like all your tests pass:

Seems indeed like a problem with Travis

[2017-07-24 08:14] ghost opened #276 "Keyfile size maybe too small?"
Hi!
You seem to forge a 512 byte Key. It seems to me that you wanted to forge a key which size corresponds to the cipher key size (which is 512bit) and mixed bits and bytes :). However, as you are not working in PLAIN mode (that would cut the keyfile to the corresponding cipher key length) but rather in LUKS mode, this keyfile is just an input for PBKFD2. Here you want to maximize the entropy and

[2017-07-24 08:28] jaromil commented on #276
See issue #226

[2017-07-24 08:34] jaromil commented on #276
You are right, we mixed bits and bytes :^P
Fixing this will come handy as we need to save space in the key to fit more features in some future.

[2017-07-24 08:48] danvari commented on #276
What do you mean by "PBKDF2 is optional"? I thought as long as you use "--key-file" in LUKS mode you always make use of PBKDF2. The keyfile in LUKS mode is just the passphrase for PBKDF2. But in PLAIN mode "--key-file" is equivalent to the cipher key.

So in LUKS mode you now depend on the statistics of the PBKDF2 mapping, which is why you want to increase the input (keyfile) to maximize the entro

[2017-07-24 09:00] jaromil commented on #276
There are different layers of PBKDF2 in Tomb. One is embedded in GPG, one is our own in `extras` and one I didn't knew of you mention is in LUKS. I see in the docs that 512 BITS are enough so this is a valid observation, in any case better exceed than anything else (better safe than sorry). This conclusion also invalidates the change you suggested and we operated in #238 since the AES-256 was alre

[2017-07-24 10:13] boyska commented on #276
Jaromil:

I don't think that GPG embeds PBKDF2.
I think that GPG has some form of KDF, though

IIRC, LUKS does pbkdf2 only for passphrases, not for keyfiles

On man 8 cryptsetup I see that when a keyfile is used "It will be truncated to the key size of the used cipher or the size given by
       -s and directly used as binary key"

So bigger keyfiles do not help.

[2017-07-24 10:22] danvari commented on #276
Do you have any source for this? Have a look at the man page in section "NOTES ON PASSPHRASE PROCESSING FOR LUKS". There you can read:

and

I guess the maximum size is 8192KB if I remember correclty.

[2017-07-24 10:37] boyska commented on #276
Stephan Schindel:

You're right, I misread the manpage.
Double-checked reading source code which confirms that PBKDF2 is applied
both to passphrases and keyfiles (but obviously not to
--master-key-file)

keep in mind, however, that the symmetrical encryption key is smaller
than this. So an attacker will just attack that, without bothering with
bruteforcing such a huge keyfile.

[2017-07-26 09:15] IvanX507 opened #277 "Abillity to delete a tomb"
Hi, I wanna delete a tomb that I'm not gonna use but i don't find a option to do that in the tomb commands.
Theres an option or it hasn't it?.
In the case that the option doesn't exist, theres a way for delete it?.

[2017-07-26 09:49] parazyd commented on #277
If the tomb is closed and not mounted, you can just `rm <tombname>` to delete it.

[2017-07-26 10:56] jaromil commented on #277
Depending from the size of the tomb, it may take longer (fine-tuning possible) also `wipe` and `srm` can be considered. The tomb must be closed before deletion.

[2017-07-27 04:08] IvanX507 commented on #277
Thanks for the help!

[2017-07-27 08:16] #277 closed

[2017-07-31 10:51] tombraidr opened #278 "Q: What happens when you remove files from a Tomb via a file explorer? Do they leave traces on local host?"
I might be wrong but I noticed when I delete files from a Tomb using Nautilus (file explorer on Debian) they go to the Nautilus' 'Wastebasket' and a registration of deleted files also shows up in a hidden folder ('.Trash-1000') inside the Tomb . So it seems to me the local host is registering Tomb files as deleted. This doesn't look safe to me, does it? If they do leave traces in your local host i

[2017-07-31 11:10] jaromil commented on #278
Knowing the fallacity of the Nautilus software in general, I personally recommend to never use it. I find it very irresponsible for distributions to ship it as default, it is an unsafe feature-creeping enormous application with privilege escalation in place. However, if one needs to use it, then do not use it for Tombs.

In case you discover a way to disallow this behavior in Nautilus when operati

[2017-07-31 11:14] Narrat commented on #278
Using Nautilus, Thunar and else for interacting with tombs can be revealing.
For example thumbnail preview. Those are saved per default in the home folder (.thumbnails or .cache/Thumbnails).
So other features can also leave traces

[2017-07-31 11:41] tombraidr commented on #278
Very good points, @jaromil  and @Narrat

You are right. Nautilus and Tomb are a no no.  Unfortunately I noticed this behavior perhaps too late.

 Wouldn't be great if Tomb site had some sort of a Safe Guide (Read Me First) to make us aware or at least mention all these sorts of situations that make the use of Tomb unsafe?

[2017-07-31 11:43] tombraidr commented on #278
@jaromil

I know this question is outside of Tomb scope, so my apologies,  but do you know of any secure and safe alternative to Nautilus and et al? Thanks!

[2017-07-31 11:52] Pawamoy commented on #278
@tombraidr I guess the issue here comes from graphical File Managers which use thumbnails and wastebaskets, so why not a terminal (text) -based file manager like [ranger](http://ranger.nongnu.org/) 😃 ? I am not aware of its level of security and if using it with Tomb is better than another FM though!

[2017-07-31 12:03] Narrat commented on #278
Even those can be unsafe. Although I didn't use ranger, just knowing it exists, I can tell about vifm.
Normal deletion of files moved those into a subfolder in the home directory, so to make it possible to undo the deletion.
Can't describe how surprised I was when I stumbled upon those (and reading the doc would have told me so *cough*)

[2017-07-31 12:13] jaromil commented on #278
I use ranger (mentioned by @Pawamoy) but also `pcmanfm` is very good, esp. when file selection is limited to drag&drop operations it comes at hand and doesn't add any clutter.

[2017-08-01 12:51] tombraidr commented on #278
Thanks, everybody. Very informative thread. I'm closing this down.

[2017-08-01 12:51] #278 closed

[2017-08-08 01:52] usmarine2141 opened #279 "Issue creating Keyfile for tomb"
$ sudo tomb forge -k fck.tomb.key fuckfuckfuck
tomb  .  An active swap partition is detected...
tomb [W] This poses a security risk.
tomb [W] You can deactivate all swap partitions using the command:
tomb [W]  swapoff -a
tomb [W] [#163] I may not detect plain swaps on an encrypted volume.
tomb [W] But if you want to proceed like this, use the -f (force) flag.
tomb [E] Operation aborted.

What is g

[2017-08-08 01:53] usmarine2141 commented on #279
if i use the -f flag, will it work properly?

[2017-08-08 02:05] usmarine2141 commented on #279
i used the -f tag and it created it but appears i have to run it as sudo. as it doesnt mount... is this normal usage?

$ tomb open -k secretc.tomb.key test.tomb -f
tomb  .  Commanded to open tomb test.tomb
tomb  .  Valid tomb file found: test.tomb
tomb  .  Key is valid.
tomb  .  Mountpoint not specified, using default: /media/test
tomb (*) Opening test on /media/test
tomb  .  This tomb is a valid

[2017-08-08 02:11] usmarine2141 commented on #279
when using sudo i get this output

$ sudo tomb forge -k test.tomb.key -f
tomb  .  Commanded to forge key test.tomb.key with cipher algorithm AES256
tomb  .  Using KDF to protect the key password ( rounds)
tomb [W] This operation takes time, keep using this computer on other tasks,
tomb [W] once done you will be asked to choose a password for your tomb.
tomb [W] To make it faster you can move the m

[2017-08-08 02:33] usmarine2141 commented on #279
if i go into gparted and rt click on my swap off it buids with no errors, but cannot create folders in the tomb

[2017-08-08 02:37] usmarine2141 commented on #279
I think i got it figured out. I have to sudo my file manager to make files/folders in my tomb

[2017-08-08 07:57] jaromil commented on #279
you're good with all this, its all normal behaviour, perhaps too verbose or paranoid, but all your pasted output indicates success. DBUS errors are due to pinentry invokation on your distro. We'd rather not hide anything like that anyway. And yes, most tomb commands require sudo (we may want to make this more noticeable in the docs).

[2017-08-11 21:12] tombraidr opened #280 "'dcfldd:: No such file or directory' + Error creating the extra resize ::1 size::, operation aborted."
I was resizing a 10GB tomb to 20GB, and everything looked fine then my computer crashed.  So I rebooted and tried again but got this:

[code]

Tomb seems ok because I can still open it. Also, the filesystem where the tomb is mounted is fuseblk.

Any ideas, suggestions on what happened/what to do? Thanks!

[2017-08-12 02:47] Narrat opened #281 "umount_tomb:84: unknown condition: -regex-match"
First time use of tomb after the distro updated Zsh to 3.4.1 and got this error while closing a tomb.
Didn't check the changelog yet. Will do that later

[2017-08-12 20:13] Narrat commented on #281
Regex Module is still there, didn't notice something particulary interesting in the Changelog. So currently stumped what is going on there

[2017-08-12 21:08] Narrat commented on #281
Reading
http://info2html.sourceforge.net/cgi-bin/info2html-demo/info2html?(zsh)The%2520zsh%2Fregex%2520Module
and
http://zsh.sourceforge.net/Doc/Release/Zsh-Modules.html#The-zsh_002fregex-Module
I replaced -regex-match with =~ and it's working again. Strange. Upstream regression?

[2017-08-12 21:11] Narrat commented on #281
Seems to be upstream
http://www.zsh.org/mla/users/2017/msg00465.html

[2017-08-16 11:37] aude opened #282 "zsh: -regex-match does not exist"
system: Arch Linux
Tomb: 2.4
ZSH: 5.4.1 (https://git.archlinux.org/svntogit/packages.git/tree/trunk/PKGBUILD?h=packages/zsh&id=39f34c988cca9a8d0f37bc28f2b693b03d9da369)

[code]

I can't quite figure out why `-regex-match` does not work. It might be because my ZSH uses PCRE, and does not have regexp enabled. Do you know?

Is the `[[ "string" -regex-match "expression" ]]` an outdated way to write re